%h1 Muokkaa jälleenmyyjän tietoja
= render 'form'
= link_to 'Show', @reseller
|
= link_to 'Back', resellers_path

%br
%br
		
= link_to t(:destroy) , reseller_path(@reseller), :data => { :confirm => t(:are_you_sure) }, :method => :delete, :title => t(:destroy) , :class => "btn btn-danger"
