<table>
  <tr><th>Roots</th><th></th><th></th><th></th></tr>
  <tr>
      <% i = 0 %>
      <% @translations.each do |tag , val | %>
        <td>
        <%=link_to tag , translation_url( tag ) %>
        </td>
        <%==  ((i+=1) % 4) == 0 ?  "</tr><tr>" : ""%>
      <%end%>
  </tr>
</table>
<table>
  <tr><th>Files</th><th></th><th></th><th></th></tr>
  <tr>    
  <% i = 0 %>
  <%    @files.each do |file , keys | %>
    <td><%=link_to file , file_url(file) %>     </td>
    <%==  ((i+=1) % 4) == 0 ?  "</tr><tr>" : ""%>
  <%end%>
</table>
