{
margin: 0px;
padding: 0px;
}

body
{
  background-color: #fff;
  color: black;
  font-size: 14px;
  font-family: georgia, "times new roman", serif;
}

a
{
  text-decoration: none;
  font-weight: bold;
  color: #636363;
}


#menu_bar {
  background: transparent;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  top: 68px;
  left: 200px;
}

#menu_bar li {
  float: left;
  font: 15px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#menu_bar a {
  color: black;
  display: block;
  float: left;
  margin: 0;
  padding: 0px 16px;
  text-decoration: none;
}
#menu_bar a:hover {
  color: black;
  padding-bottom: 8px;
}


menu a:hover
{
text-decoration: none;
}

strong
{
background: inherit;
color: #50514D;
}

#header
{
width: 1080px;
height: 140px;
background-color: #ffffff;
color: #ffffff;
background:  url('/images/site/top_perfumes.jpg') no-repeat;;
}


#slogan
{
width: 240px;
float: right;
position: relative;
top: 57px;
font-size: 20px;
color: rgb(0, 132, 149);
text-align: left;
font-style: italic;
}

.logo_right {
float: right;
padding-left: 15px;
padding-right: 0px;
}

#main
{
padding-left: 100px;
padding-top: 20px;
position: relative;
width: 1080px;
padding-bottom: 10px;
}


.menu
{
padding: 0px;
font-weight: bold;
width: 165px;
height: 26px;
display: block;
position: relative;
margin-bottom: 1px;
text-decoration: none;
padding-top: 11px;
color: #636363;
font-size: 14px;
}

#menu ul
{
list-style: none;
margin: 0px;
}

#menu ul li.active 
{
color: black;
}


#menu a:hover
{
color: black;
}


h1
{
background: inherit;
color: #50514D;
font-size: 26px;
}

h3
{
margin-top: 20px;
color: #50514D;
font-size: 15px;
}


h3.first
{
margin-top: 0px;
}

#lcol
{
position: relative;
width: 170px;
float: left;
}

#rcol
{
position: relative;
margin-left: 200px;
width: 890px;
}

#rcontent
{
position: relative;
padding: 10px 25px 0px 20px;
}

p
{
margin-bottom: 15px;
text-align: left;
line-height: 20px;
}


.divider
{
font-size: 0px;
position: relative;
height: 1px;
width: 100%;
margin: 10px 0px 10px 0px;
}

img {
border-style: none;
float: none;
vertical-align: baseline
}

#footer
{
clear: both;
width: 1080px;
padding-left: 10px;
margin-bottom: 25px;
padding-top: 18px;
text-align: center;
line-height: 18px;
}

.sub_menu {
left: 25px;
position: relative;
line-height: 14px;
margin-bottom: 9px;

}

.left {
	float:  left;
}

.six {
float: left;
width:  14%;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: center;
}
.two {
width:  50%;
float: left;	
}

.one {
width:  100%;
float: left;
	margin-bottom: 10px;
}

.three {
width: 30%;
float: left;
padding-right: 25px;
}
.four {
width: 22%;
float: left;
padding-right: 18px;
}
.bottom {
vertical-align: bottom;
}
.eighty {
float: left;
width:  70%;
}

.ninety {
float: left;
width:  90%;
}

div.sixty {
float: left;
width: 60%;
}
