.container
- @category.categories.each do |category|
  .subcat-col
    .subcat-text
      =link_to category.name, category_url(category.id)
    .subcat-box
      = image_tag category.main_picture.url(:product), class: "img-circle"
