.product_page
  .product_name
    %b=@show_product.name
  .image
    =image_tag @show_product.main_picture.url(:product), class: "img-responsive"
  .product_summary
    = kram @show_product.summary
  .product_description
    = kram @show_product.description
  .product_price
    %b= @show_product.price
