.css1 {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 10px; font-style: normal; font-weight: normal; color: #999999; background-color: #FFFFCC; height: auto; width: 100%; left: 100px; top: auto; clip:  rect(   ); page-break-after: auto}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	border-color: black black #999999;
	font-style: normal;
	border-style: none;
}
h1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #333399; font-style: normal}
h2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; font-style: normal}
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; color: #333399}
a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333399; text-decoration: none; font-style: normal}
cite {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 11px; font-style: italic; color: #666666}
li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	background-color: #FFFFFF;
	list-style-type: &#150;
}
a:link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #333399; text-decoration: none; line-height: normal}
a:active {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333366; text-decoration: none; font-style: normal}
a:visited {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333399; text-decoration: none; font-style: normal}
body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #999999; background-color: #F8F6FF}
strong {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #333399}
.country {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	color: #990033;
	text-decoration: none;
}
