<% if has_sub(link) %>
  <div class="link">
    <a href="<%= raw I18n.t('link.server')%><%= raw I18n.t(link)%>"><%= raw I18n.t("link.text")%> </a> 
    <%= raw  translate_link(link) %>
  </div>
<%end%>

<% if has_sub(vegan) %>
  <div class="vegan">
    <img src="images/site/vegan.gif" alt="Vegan" /> Vegan
  </div>
<%end%>
