- if has_sub(link)
  .link
    %a{:href => "#{raw t('link.server')}#{raw t(link)}"}
      = raw t("link.text")
    = raw  translate_link(link)
- unless defined?(vegan) and true == has_sub(vegan)
  .vegan
    =image_tag  "site/vegan.gif"
    Vegan
