<% if has_sub(link) %>
  <div class="link">
    <a href="<%= raw I18n.t('link.server')%><%= raw I18n.t(link)%>"><%= raw I18n.t("link.text")%> </a> 
    <%= raw  translate_link(link) %>
  </div>
<%end%>
