.row.footer
  .col-xs-5
    %b= raw OfficeClerk.config(:footer_left)
    %br
    = raw OfficeClerk.config(:footer_left2)

  .col-xs-4
    = raw OfficeClerk.config(:footer_center)
  
  .col-xs-3
    = raw OfficeClerk.config(:footer_right)
    
