- unless @order.shipment_info.blank? 
  =@order.shipment_info
%br
%br
- unless @slip
  - base = @order.number[1 .. -1]
  - viite = ReferenceNumber.new(base).to_s
  Maksaessasi käytä viitenumeroa: #{viite}
%br
%b
  = raw t("#{@template}.thanks" )
