%div
  %table.taul{:align => "center", "border-top" => "1", :cellpadding => "2", :cellspacing => "10"}
    %tbody
      %tr
        %td.ots{:width => "95"}
          ihotyyppi
          %br/
        %td.ots{:width => "95"}
          puhdistus
          %br/
        %td.ots{:width => "95"}
          kasvovesi
          %br/
        %td.ots{:width => "95"}
          päivä
          %br/
        %td.ots{:width => "95"}
          uudistava hoito&nbsp;&nbsp;&nbsp;
          %br/
        %td.ots{:width => "95"}
          kauneustuotteet
          %br/
        %td.ots{:width => "95"}
          kasvonaamiot
          %br/
        %td.ots{:width => "95"}
          yö
          %br/
      %tr
        %td.ots{:style => "vertical-align: top;"}
          normaali iho
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Puhdistusvaahto/
          %br/
          Puhdistusemulsio/
          %br/
          Hellävarainen
          %br/
          kuorintavoide
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Kosteuttava
          %br/
          kasvovesi
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Intense Moisture", :src => "/images/ihonhoito-ohjelma/intense.png"}/
          Kevyt kosteusvoide
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Age Miracle", :src => "/images/ihonhoito-ohjelma/age.png"}/
          Anti-age Seerumi/
          %br/
          Silmänympärys-seerumi
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Be Beautiful", :src => "/images/ihonhoito-ohjelma/be.png"}/
          %br/
          Bliss cream
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Intense Moisture", :src => "/images/ihonhoito-ohjelma/intense.png"}/
          Ravitseva
          %br/
          kasvonaamio
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Age Miracle", :src => "/images/ihonhoito-ohjelma/age.png"}/
          Anti-age Yövoide
          %br/
      %tr
        %td.ots{:style => "vertical-align: top;"}
          sekaiho
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Puhdistusvaahto/
          %br/
          Puhdistusemulsio/
          %br/
          Hellävarainen
          %br/
          kuorintavoide
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Kirkastava kasvovesi
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "In Balance", :src => "/images/ihonhoito-ohjelma/inbal.png"}/
          %br/
          Matta päivä- ja yövoide
          %br/
          %img{:alt => "Intense Moisture", :src => "/images/ihonhoito-ohjelma/intense.png"}/
          Kevyt kosteusvoide
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "In Balance", :src => "/images/ihonhoito-ohjelma/inbal.png"}/
          %br/
          Tehoseerumi
          %br/
          epäpuhtauksien hoitoon
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Be Beautiful", :src => "/images/ihonhoito-ohjelma/be.png"}/
          %br/
          Bliss cream
          %br/
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "In Balance", :src => "/images/ihonhoito-ohjelma/inbal.png"}/
          %br/
          Puhdistusnaamio epäpuhtauksien
          %br/
          hoitoon
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "In Balance", :src => "/images/ihonhoito-ohjelma/inbal.png"}/
          %br/
          Tehoseerumi
          %br/
          epäpuhtauksien hoitoon
          %br/
          %br/
      %tr
        %td.ots{:style => "vertical-align: top;"}
          epäpuhdas/
          %br/
          rasvainen
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Puhdistusvaahto/
          %br/
          Hellävarainen
          %br/
          kuorintavoide
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Kirkastava kasvovesi
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "In Balance", :src => "/images/ihonhoito-ohjelma/inbal.png"}/
          %br/
          Matta päivä- ja yövoide
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "In Balance", :src => "/images/ihonhoito-ohjelma/inbal.png"}/
          %br/
          Tehoseerumi
          %br/
          epäpuhtauksien hoitoon
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Be Beautiful", :src => "/images/ihonhoito-ohjelma/be.png"}/
          %br/
          Bliss cream
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "In Balance", :src => "/images/ihonhoito-ohjelma/inbal.png"}/
          %br/
          Puhdistusnaamio epäpuhtauksien
          %br/
          hoitoon
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "In Balance", :src => "/images/ihonhoito-ohjelma/inbal.png"}/
          %br/
          Tehoseerumi
          %br/
          epäpuhtauksien hoitoon
          %br/
          %br/
      %tr
        %td.ots{:style => "vertical-align: top;"}
          epäpuhdas/
          %br/
          kuiva
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Puhdistusemulsio/
          %br/
          Hellävarainen
          %br/
          kuorintavoide
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Kirkastava kasvovesi/ Kosteuttava
          %br/
          kasvovesi
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "In Balance", :src => "/images/ihonhoito-ohjelma/inbal.png"}/
          %br/
          Matta päivä- ja yövoide
          %br/
          %img{:alt => "Intense Moisture", :src => "/images/ihonhoito-ohjelma/intense.png"}/
          Kevyt kosteusvoide
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "In Balance", :src => "/images/ihonhoito-ohjelma/inbal.png"}/
          %br/
          Tehoseerumi
          %br/
          epäpuhtauksien hoitoon
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Be Beautiful", :src => "/images/ihonhoito-ohjelma/be.png"}/
          %br/
          Bliss cream
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "In Balance", :src => "/images/ihonhoito-ohjelma/inbal.png"}/
          %br/
          Puhdistusnaamio epäpuhtauksien
          %br/
          hoitoon
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Age Miracle", :src => "/images/ihonhoito-ohjelma/age.png"}/
          Anti-age Yövoide
          %br/
      %tr
        %td.ots{:style => "vertical-align: top;"}
          kuiva
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Puhdistusemulsio/
          %br/
          Hellävarainen
          %br/
          kuorintavoide
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Kosteuttava
          %br/
          kasvovesi
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Intense Moisture", :src => "/images/ihonhoito-ohjelma/intense.png"}/
          Ravitseva voide/
          %br/
          Kevyt kosteusvoide
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Age Miracle", :src => "/images/ihonhoito-ohjelma/age.png"}/
          Anti-age Seerumi
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Be Beautiful", :src => "/images/ihonhoito-ohjelma/be.png"}/
          %br/
          Bliss cream
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Intense Moisture", :src => "/images/ihonhoito-ohjelma/intense.png"}/
          Ravitseva
          %br/
          kasvonaamio
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Age Miracle", :src => "/images/ihonhoito-ohjelma/age.png"}/
          Anti-age Yövoide
          %br/
      %tr
        %td.ots{:style => "vertical-align: top;"}
          herkkä
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Puhdistusemulsio
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Kosteuttava
          %br/
          kasvovesi
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Pure Sensitive", :src => "/images/ihonhoito-ohjelma/pure.png"}/
          %br/
          Rauhoittava
          %br/
          kosteusvoide
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Be Beautiful", :src => "/images/ihonhoito-ohjelma/be.png"}/
          %br/
          Bliss cream
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Intense Moisture", :src => "/images/ihonhoito-ohjelma/intense.png"}/
          Ravitseva
          %br/
          kasvonaamio
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Pure Sensitive", :src => "/images/ihonhoito-ohjelma/pure.png"}/
          %br/
          Rauhoittava
          %br/
          kosteusvoide
          %br/
      %tr
        %td.ots{:style => "vertical-align: top;"}
          ikääntyvä
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Puhdistusvaahto/
          %br/
          Puhdistusemulsio/
          %br/
          Hellävarainen
          %br/
          kuorintavoide
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Daily Refresh", :src => "/images/ihonhoito-ohjelma/daily.png"}/
          Kosteuttava
          %br/
          kasvovesi
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Age Miracle", :src => "/images/ihonhoito-ohjelma/age.png"}/
          Anti-age Päivävoide
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Age Miracle", :src => "/images/ihonhoito-ohjelma/age.png"}/
          Anti-age Seerumi/
          %br/
          Silmänympärys-seerumi
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Be Beautiful", :src => "/images/ihonhoito-ohjelma/be.png"}/
          %br/
          Bliss cream
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Intense Moisture", :src => "/images/ihonhoito-ohjelma/intense.png"}/
          Ravitseva
          %br/
          kasvonaamio
          %br/
        %td.solu{:style => "vertical-align: top;"}
          %img{:alt => "Age Miracle", :src => "/images/ihonhoito-ohjelma/age.png"}/
          Anti-age Yövoide
          %br/
          %img{:alt => "Intense Moisture", :src => "/images/ihonhoito-ohjelma/intense.png"}/
          Ravitseva voide
          %br/
          %br/
  %br/
