<div>
  <table class="taul" align="center" border-top="1" cellpadding="2" cellspacing="10">
    <tbody>
      <tr>
        <td width="95" class="ots">
          ihotyyppi<br>
        </td>
        <td width="95" class="ots">
          puhdistus<br>
        </td>
        <td width="95" class="ots">
          kasvovesi<br>
        </td>
        <td width="95" class="ots">
          päivä<br>
        </td>
        <td width="95" class="ots">
          uudistava hoito&nbsp;&nbsp;&nbsp;<br>
        </td>
        <td width="95" class="ots">
          kauneustuotteet<br>
        </td>
        <td width="95" class="ots">
          kasvonaamiot<br>
        </td>
        <td width="95" class="ots">
          yö<br>
        </td>
      </tr>
      <tr>
        <td class="ots" style="vertical-align: top;">
          normaali iho<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Puhdistusvaahto/<br>
          Puhdistusemulsio/<br>
          Hellävarainen<br>
          kuorintavoide
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Kosteuttava<br>
          kasvovesi
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/intense.png" alt="Intense Moisture"> Kevyt kosteusvoide
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/age.png" alt="Age Miracle"> Anti-age Seerumi/<br>
          Silmänympärys-seerumi<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/be.png" alt="Be Beautiful"><br>
          Bliss cream<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/intense.png" alt="Intense Moisture"> Ravitseva<br>
          kasvonaamio<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/age.png" alt="Age Miracle"> Anti-age Yövoide<br>
        </td>
      </tr>
      <tr>
        <td class="ots" style="vertical-align: top;">
          sekaiho<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Puhdistusvaahto/<br>
          Puhdistusemulsio/<br>
          Hellävarainen<br>
          kuorintavoide
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Kirkastava kasvovesi
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/inbal.png" alt="In Balance"><br>
          Matta päivä- ja yövoide<br>
          <img src="/images/ihonhoito-ohjelma/intense.png" alt="Intense Moisture"> Kevyt kosteusvoide<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/inbal.png" alt="In Balance"><br>
          Tehoseerumi<br>
          epäpuhtauksien hoitoon<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/be.png" alt="Be Beautiful"><br>
          Bliss cream<br>
          <br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/inbal.png" alt="In Balance"><br>
          Puhdistusnaamio epäpuhtauksien<br>
          hoitoon<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/inbal.png" alt="In Balance"><br>
          Tehoseerumi<br>
          epäpuhtauksien hoitoon<br>
          <br>
        </td>
      </tr>
      <tr>
        <td class="ots" style="vertical-align: top;">
          epäpuhdas/<br>
          rasvainen<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Puhdistusvaahto/<br>
          Hellävarainen<br>
          kuorintavoide
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Kirkastava kasvovesi
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/inbal.png" alt="In Balance"><br>
          Matta päivä- ja yövoide<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/inbal.png" alt="In Balance"><br>
          Tehoseerumi<br>
          epäpuhtauksien hoitoon<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/be.png" alt="Be Beautiful"><br>
          Bliss cream<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/inbal.png" alt="In Balance"><br>
          Puhdistusnaamio epäpuhtauksien<br>
          hoitoon<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/inbal.png" alt="In Balance"><br>
          Tehoseerumi<br>
          epäpuhtauksien hoitoon<br>
          <br>
        </td>
      </tr>
      <tr>
        <td class="ots" style="vertical-align: top;">
          epäpuhdas/<br>
          kuiva<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Puhdistusemulsio/<br>
          Hellävarainen<br>
          kuorintavoide
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Kirkastava kasvovesi/ Kosteuttava<br>
          kasvovesi
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/inbal.png" alt="In Balance"><br>
          Matta päivä- ja yövoide<br>
          <img src="/images/ihonhoito-ohjelma/intense.png" alt="Intense Moisture"> Kevyt kosteusvoide<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/inbal.png" alt="In Balance"><br>
          Tehoseerumi<br>
          epäpuhtauksien hoitoon<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/be.png" alt="Be Beautiful"><br>
          Bliss cream<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/inbal.png" alt="In Balance"><br>
          Puhdistusnaamio epäpuhtauksien<br>
          hoitoon<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/age.png" alt="Age Miracle"> Anti-age Yövoide<br>
        </td>
      </tr>
      <tr>
        <td class="ots" style="vertical-align: top;">
          kuiva<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Puhdistusemulsio/<br>
          Hellävarainen<br>
          kuorintavoide
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Kosteuttava<br>
          kasvovesi
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/intense.png" alt="Intense Moisture"> Ravitseva voide/<br>
          Kevyt kosteusvoide<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/age.png" alt="Age Miracle"> Anti-age Seerumi<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/be.png" alt="Be Beautiful"><br>
          Bliss cream<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/intense.png" alt="Intense Moisture"> Ravitseva<br>
          kasvonaamio<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/age.png" alt="Age Miracle"> Anti-age Yövoide<br>
        </td>
      </tr>
      <tr>
        <td class="ots" style="vertical-align: top;">
          herkkä<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Puhdistusemulsio
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Kosteuttava<br>
          kasvovesi
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/pure.png" alt="Pure Sensitive"><br>
          Rauhoittava<br>
          kosteusvoide<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/be.png" alt="Be Beautiful"><br>
          Bliss cream<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/intense.png" alt="Intense Moisture"> Ravitseva<br>
          kasvonaamio<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/pure.png" alt="Pure Sensitive"><br>
          Rauhoittava<br>
          kosteusvoide<br>
        </td>
      </tr>
      <tr>
        <td class="ots" style="vertical-align: top;">
          ikääntyvä<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Puhdistusvaahto/<br>
          Puhdistusemulsio/<br>
          Hellävarainen<br>
          kuorintavoide
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/daily.png" alt="Daily Refresh"> Kosteuttava<br>
          kasvovesi
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/age.png" alt="Age Miracle"> Anti-age Päivävoide<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/age.png" alt="Age Miracle"> Anti-age Seerumi/<br>
          Silmänympärys-seerumi<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/be.png" alt="Be Beautiful"><br>
          Bliss cream<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/intense.png" alt="Intense Moisture"> Ravitseva<br>
          kasvonaamio<br>
        </td>
        <td class="solu" style="vertical-align: top;">
          <img src="/images/ihonhoito-ohjelma/age.png" alt="Age Miracle"> Anti-age Yövoide<br>
          <img src="/images/ihonhoito-ohjelma/intense.png" alt="Intense Moisture"> Ravitseva voide<br>
          <br>
        </td>
      </tr>
    </tbody>
  </table><br>
</div>
