.one
  .eighty
    = raw  t("index.top")
    <strong>Farfalla on 
    %a{:href => "http://www.luonnonkosmetiikka.fi/", :target => "blank"} Pro Luonnonkosmetiikan 
    jäsen. </strong>
    <br>
    %a{:href => "http://www.luonnonkosmetiikka.fi/", :target => "blank"} 
      = image_tag "site/pro_Logo.gif"
      
    <br>
    <br>
    
  .logo_right
    =image_tag "site/kuva1.jpg"