<div class ="one">
<div class ="eighty">
<h2>Farfalla luo uudet standardit luomukosmetiikalle </h2>
<h3>Eettisyys</h3>

<strong>Farfallan toimintaperiaatteisiin on alusta asti kuulunut reilu kauppa. </strong><br>He eivät osta luomuakaan halvimmalla maailmanmarkkinahinnalla, vaan pitävät viljelijöitä yhteistyökumppaneina. Farfalla sitoutuu viljelijöiden kanssa pitkiin viljelysopimuksiin, näinollen viljelijöiden toimeentulo tulee turvatuksi. <br><br>

Farfalla tukee esimerkiksi naisyrittäjien toimintaa paikoissa, joissa se muuten olisi haasteellista, esim. Sisilia, Marokko ja Madagaskar. 
Farfalla harjoittaa myös hyväntekeväisyyttä, esim. Madagaskarilla he ovat kustantaneet paikallisille hammaslääkäriaseman. 
Tehtaallaan Sveitsissä Farfalla pitää huolta hyvästä työilmapiiristä.  <br> <br><br>

<img src="/images/site/viljelijat.jpg"/> 
<br>

<h3>Ei eläinkokeita</h3>
Farfallan tuotteita ei testata eläimillä. Farfalla ei ole ollut koskaan mukana eläinkokeissa eikä ole myöskään koskaan pyytänyt mitään muuta tahoa toimimaan puolestaan tässä asiassa.

<h3>Sopii vegaaneille</h3>
Muutamaa harvaa poikkeusta lukuunottamatta Farfallan tuotteet sopivat vegaaneille.




</div> 
<div class="logo_right" >
<img src="/images/site/kuva3.jpg"/>
</div>
</div>
