.sixty
  %h2 Farfalla luo uudet standardit luomukosmetiikalle

  %h3 Eettisyys
  %strong Farfallan periaatteisiin on alusta asti kuulunut reilu kauppa.
  = succeed "He" do
    %br/
  eivät osta luomua halvimmalla maailmanmarkkinahinnalla. Farfalla sitoutuu viljelijöiden kanssa pitkiin viljelysopimuksiin ja pitää heitä yhteistyökumppaneina.
  %br/
  %br/
  %strong Farfalla harjoittaa hyväntekeväisyyttä,
  esim. Madagaskarilla he ovat kustantaneet paikallisille hammaslääkäriaseman ja äitiysneuvolan. Laosiin he ovat toimittaneet kouluihin kirjoja. Farfalla tukee naisyrittäjien toimintaa paikoissa, joissa se on haasteellista, esim. Sisilia ja Marokko. Tehtaallaan Sveitsissä Farfalla pitää huolta hyvästä työilma­piiristä.
  %br/
  %br/
  %br/
  =image_tag "site/viljelijat.jpg", :style => "box-shadow: 2px 2px 6px #888888;"
  %br/

  %h3 Reilu kauppa
  %em Farfalla tuntee tuottajat ja yhteisöt, jotka tuottavat heille reilun kaupan raaka-aineet.
  Raaka-aineita tuotetaan yli 40 maassa ympäri maailman. Farfalla käyttää
  ennakkomaksuja tukeakseen pieniä projekteja,
  jotka syntyvät ja kasvavat perustajiensa vilpittömistä pyrkimyksistä.

  %h3 Ei eläinkokeita
  %em Farfallan tuotteita ei testata eläimillä.
  Farfalla ei ole koskaan ollut mukana eläinkokeissa eikä ole pyytänyt mitään muuta tahoa toimimaan puolestaan tässä asiassa.

  %h3 Sopii vegaaneille
  %em Farfallan yli 400 tuotetta sopii vegaaneille.
  Suurimmassa osassa tuotteita <br>
  on
  =image_tag "site/vegan.gif"
  %em Vegan
  \-merkintä.

  %h3 0% synteettisiä aineita – 100% luonnollisista aineista
  %em Farfallan luomukosmetiikassa käytetään tuoksuina ja vaikuttavina aineina ainoastaan luonnollisia eteerisiä öljyjä.
  Kun se on mahdollista, käytössä ovat sertifioidut luomulaatuiset eteeriset öljyt.
  Säilöntä- ja vaahdottaja-aineina käytetään yksinomaan luonnollisia aineita.
  %em Farfalla ei käytä tuotteissaan lainkaan väriaineita,
  sillä ne eivät lisää tuotteiden arvoa.
  %h3 0% silikonia, polyetyleeniglykolia (PEG), sodium laurate sulphatea, parabeeneja
  %em Noudatamme tarkoin luomukosmetiikan valmistuksen standardeja,
  emmekä käytä silikonia tai polyetyleeniglykolia tuotteissamme. Nämä lisäaineet voivat säännöllisessä käytössä johtaa sekä iho- että yleisiin terveysongelmiin. Sodium laurate sulphate (SLS) ja parabeenit ovat synteettisiä vaahdottaja- ja säilöntäaineita, eivätkä Farfallan tuotteet koskaan sisällä niitä.
  %h3 0% mineraaliöljyjä
  %em Mineraaliöljyt muodostavat ihon pinnalle kalvon,
  joka saattaa estää ihoa hengittämästä ja jopa tukkia ihohuokosia. Siksi Farfallan luomukosmetiikassa käytetään
  %em vain korkeatasoisia ja tehokkaita luomulaatuisia kasviöljyjä.
  %h3 Ei haitallisia reaktioita
  Kaikki tuotteet ovat kliinisesti ja dermatologisesti testattuja (Dermatest) ja niille on myönnetty paras mahdollinen luokitus ”Erittäin hyvä”.
  %em Tämä tarkoittaa, etteivät tuotteet aiheuttaneet yhdellekään koehenkilölle epäsuotuisia reaktioita.
  %h3 Ekologiset pakkaukset
  %em Paras suoja tuotteelle on lasinen pullo tai purkki.
  Siksi Farfalla markkinoi luomukosmetiikan lasisissa astioissa. Lasi voidaan myös kierrättää helposti.
  Osa tuotteista pakataan
  %em kierrätettävistä muoveista
  valmistettuihin purkkeihin.
  %br/
  Lasipakkaukset on pakattava suojaaviin lisäpakkauksiin.
  Niitä käytetään myös välttämättömän informaation välittämiseen eri kielillä. Näissäkin pakkauksissa otetaan huomioon ympäristönäkökohdat: käytetty pahvi on 100% FSC -sertifioitua.

  %h3 Pro Luonnonkosmetiikka
  Farfalla on
  %a{:href => "http://www.luonnonkosmetiikka.fi/", :target => "blank"} Pro Luonnonkosmetiikan
  jäsen.
  <br>
  %a{:href => "http://www.luonnonkosmetiikka.fi/", :target => "blank"}
    = image_tag "site/pro_Logo.gif"

.fourty
  =image_tag "site/kuva3.jpg" , :width => "100%"
