.one
  .eighty
    %h2 Farfalla -jälleenmyyjiä, ekokampaamoita ja -hoitoloita
    %br/
    .two
      %b Auringosta Itään, Kuusta Länteen
      %br/
      Fredrikinkatu 19 (Viiskulma), 00120 Helsinki
      %br/
      %br/
      %b Ekohoitola Aromari
      %br/
      Eino Leinon katu 4, 00250 Helsinki
      %br/
      %br/
      %b Ekokampaamo Vihreä Kampa
      %br/
      Ilmarinkatu 10 B, 00100 Helsinki
      %br/
      %br/
      %b Ekokampaamo-parturi Peppeco
      %br/
      Oulunkyläntie 7, 00600 Helsinki
      %br/
      %br/
      %b Ekohoitola Natural
      %br/
      Albertinkatu 9, 00150 Helsinki
      %br/
      %br/
      %b Hiushuone Solo Mondo
      %br/
      Tilkankatu 2 al 2, 00300 Helsinki
      %br/
      %br/
      %b Itäkeskuksen apteekin verkkoapteekki
      %br/
      %a{:href => "http://www.apteekkishop.fi/", :target => "blank"} www.apteekkishop.fi
      %br/
      Tallinnanaukio 4, 00930 Helsinki
      %br/
      %br/
      %b Kampaamo Leena Selin
      %br/
      Sammonkatu 1, 00100 Helsinki
      %br/
      %br/
      %b Pinkki Paplari
      %br/
      Stenbäckinkatu 10, 00250 Helsinki
      %br/
      %br/
      %b Salon Birgitta Silander
      %br/
      Pohjoinen Rautatienkatu 15, 00100 Helsinki
      %br/
      %br/
      %br/
      %b 
        Tixi Team / Ekokampaaja 
        %br/
        Anna-Maria Seppälä
      %br/  
      Kielotie 17 A, 01300 Vantaa
      %br/
      %br/
      %b Hius ja Kauneus Lähde
      %br/
      Lähderannantie 22, 02720 Espoo
      %br/
      %br/
      %b Salon Carolina
      %br/
      Mannerheiminkatu 10, 06100 Porvoo
      %br/
      %br/
      %b Luana Kotiparturi-Hemfrisör
      %br/
      Lapinjärventie 25, 07800 Lapinjärvi
      %br/
      %br/
      %b Terveyskauppa Herbatik
      %br/
      Aleksanterinkatu 2, 07900 Loviisa
      %br/
      %br/
      %b Entraamo
      %br/
      Hämeenkatu 3, 11100 Riihimäki
      %br/
      %br/
      %b MariMari
      %br/
      Rautatienkatu 18, 15110 Lahti
      %br/
      %br/
      %b
        Parturi-kampaamo ja
        %br/
        Pieni ekopuoti PiparMinttu
      %br/
      Rautatienkatu 16 (sisäpiha), 15110 Lahti
      %br/
      %br/
      

    .two-right
      %b Kauneushuone Ravensara
      %br/
      Aninkaistenkatu 12, 20100 Turku
      %br/
      %br/
      %b Ekokampaamo Kookos
      %br/
      Koulukatu 10, 33200 Tampere
      %br/
      %br/
      %b Ekokampaamo Shanti
      %br/
      Kuninkaankatu 15 B 7, 2.krs, 33210 Tampere
      %br/
      %br/
      %b Ekokampaamo Hiushuone Korento
      %br/
      Kauppakatu 28 A, 2.krs, 40100 Jyväskylä
      %br/
      %br/
      %b Studio AK Kuokkala
      %br/
      Polttolinja 1, 40520 Jyväskylä
      %br/
      %br/
      %b Hiushuone Hippu
      %br/
      Satamakatu 7, 49400 Hamina
      %br/
      %br/
      %b Ekokampaamo Hiustupa
      %br/
      Savilahdenkatu 2 A, 50100 Mikkeli
      %br/
      %br/
      %br/
      %b Parturi-Ekokampaamo Meko
      %br/
      Ruukintie 23, 60100 Seinäjoki
      %br/
      %br/
      %b Ekokampaamo Hiuspuoti
      %br/
      Kirkkotie 27, 61100 Peräseinäjoki
      %br/
      %br/
      %b 
        Ekokampaamo-Parturi Mieli / 
        %br/
        Outi Sinimäki 
      %br/
      Raastuvankatu 33, 65100 Vaasa         
      %br/
      %br/
      %b Hiushuone Vihreä Tähti 
      %br/
      Niiralankatu 19, 70600 Kuopio
      %br/
      %br/
      %b Tukkastudio / Parturi-kampaaja Tuulikki Kettunen
      %br/
      Pyörönkaari 3, 70820 Kuopio
      %br/
      %br/
      %b Parturi-Kampaamo Hiusmeri
      %br/
      Antinkankaantie 28, 92130 Raahe
      %br/
      %br/
      %b Parturi-kampaamo Pieni Hiushuone
      %br/
      Valtakatu 5, 94100 Kemi
      %br/
      %br/
      %b Salonki Luonnon Kauniit 
      %br/
      Hallituskatu 2 A 10, 95400 Tornio
      %br/
      %br/
      %b Kauneushoitola Natural Beauty
      %br/
      Rovakatu 26 A 14, 96200 Rovaniemi
      %br/
      %br/
      %b Hiuspalvelu Anne Lehtinen
      %br/
      Metsätie 5, 99800 Ivalo
      %br/
      %br/
  .logo_right
    =image_tag "site/hair.jpg"
