.one
  .eighty
    %h2 Farfalla -jälleenmyyjiä, ekokampaamoita ja -hoitoloita
    %br/
    - Reseller.all.each do |reseller|
      %div{:class => :two}
        %p
          %a{:href => reseller.link, :target => "_blank"}
            %strong=reseller.name
          %br/
          = reseller.address
          %br/
          = reseller.post_code
          = reseller.city

  .twenty
    =image_tag "site/hair.jpg"
