.one
  .eighty
    %h2 Farfalla -jälleenmyyjiä, ekokampaamoita ja -hoitoloita
    %br/
    .two
      %p
        %a{:href => "http://auringostaitaan.fi/", :target => "_blank"}
          %strong Auringosta Itään, Kuusta Länteen
        %br/
        Fredrikinkatu 19 (Viiskulma), 00120 Helsinki
      %p
        %a{:href => "http://www.ekohoitola-aromari.fi/", :target => "_blank"}
          %strong Ekohoitola Aromari
        %br/
        Eino Leinon katu 4, 00250 Helsinki
      %p
        %a{:href => "http://www.kampa.fi/", :target => "_blank"}
          %strong Ekokampaamo Vihreä Kampa
        %br/
        Ilmarinkatu 10 B, 00100 Helsinki
      %p
        %a{:href => "https://www.facebook.com/pages/PEPPECO-ekokampaamo-ja-luontaishoitola/178681078832147", :target => "_blank"}
          %strong Ekokampaamo-parturi Peppeco
        %br/
        Oulunkyläntie 7, 00600 Helsinki
      %p
        %a{:href => "http://www.hoitohuoneamanka.fi/", :target => "_blank"}
          %strong Hoitohuone Amanka
        %br/
        Pihlajatie 12-14, 00270 Helsinki
      %p
        %a{:href => "http://www.apteekkishop.fi", :target => "_blank"} 
          Itäkeskuksen apteekin verkkoapteekki
          www.apteekkishop.fi
        %br/
        Tallinnanaukio 4, 00930 Helsinki
      %p
        %a{:href => "https://kampaamoleenaselin.avoinna24.fi/company", :target => "_blank"}
          %strong Kampaamo Leena Selin
        %br/
        Sammonkatu 1, 00100 Helsinki
      %p
        %a{:href => "http://www.pinkkipaplari.fi/", :target => "_blank"}
          %strong Pinkki Paplari
        %br/
        Museokatu 20-22, 00100 Helsinki
      %p
        %strong Salon Birgitta Silander
        %br/
        Pohjoinen Rautatienkatu 15, 00100 Helsinki
      %p
        %strong
          %a{:href => "http://www.twistbe.fi", :target => "_blank"} 
            TwistBe 
            %br/
            www.twistbe.fi
      %p
        %a{:href => "http://luonnonhelmi.fi/", :target => "_blank"}
          %strong
            Ekokampaamo LuonnonHelmi
        %br/
        Unikkotie 5 a, 01300 Vantaa
      %p
        %a{:href => "http://www.tixi.fi/", :target => "_blank"}
          %strong Tixi Team / Ekokampaaja Anna-Maria Seppälä
        %br/
        Kielotie 17 A, 01300 Vantaa
      %p
        %a{:href => "http://www.hiusjakauneuslahde.fi/", :target => "_blank"}
          %strong Hius ja Kauneus Lähde
        %br/
        Lähderannantie 22, 02720 Espoo
      %p
        %a{:href => "https://www.facebook.com/ekosaloncarolina", :target => "_blank"}
          %strong Ekosalon Carolina
        %br/
        Mannerheiminkatu 10, 06100 Porvoo
      %p
        %strong Luana Kotiparturi-Hemfrisör
        %br/
        Markusmäentie 112, 07840 LINDKOSKI
      %p
        %a{:href => "https://www.facebook.com/kauneuskammarimahla", :target => "_blank"}
          %strong Kauneuskammari Mahla
        %br/
        Hämeenkatu 58, 11100 Riihimäki
      %p
        %a{:href => "http://www.marimari.fi/", :target => "_blank"}
          %strong MariMari
        %br/
        Rautatienkatu 18, 15110 Lahti
      %p
        %a{:href => "http://www.piparminttu.info/", :target => "_blank"}
          %strong Parturi-kampaamo ja Pieni ekopuoti PiparMinttu
        %br/
        Rautatienkatu 16 (sisäpiha), 15110 Lahti
        %br/
        %br/
        

      %br/

      

    .two-right
      %p
        %a{:href => "http://www.ravensara.net", :target => "_blank"}
          %strong Kauneushuone Ravensara
        %br/
        Yliopistonkatu 37, 20100 Turku
      %p
        %a{:href => "http://ekokampaamokookos.blogspot.fi/", :target => "_blank"}
          %strong Ekokampaamo Kookos
        %br/
        Koulukatu 10, 33200 Tampere
      %p
        %a{:href => "http://www.shanti.fi/", :target => "_blank"}
          %strong Ekokampaamo Shanti
        %br/
        Kuninkaankatu 15 B 7, 2.krs, 33210 Tampere
      %p
        %a{:href => "http://www.matee.fi/", :target => "_blank"}
          %strong Matee Ecosalon
        %br/
        Tampereentie 2, 37500 Lempäälä
        %br/
        %br/
        %a{:href => "http://www.hiushuonekorento.fi/", :target => "_blank"}
          %strong Ekokampaamo Hiushuone Korento
        %br/
        Kauppakatu 28 A, 2.krs, 40100 Jyväskylä
      %p
        %a{:href => "http://www.studioak.fi/toimipisteet", :target => "_blank"}
          %strong Studio AK Kuokkala
        %br/
        Polttolinja 1, 40520 Jyväskylä
      %p
        %a{:href => "http://www.ekokampaamo.net/Paivi/", :target => "_blank"}
          %strong Ekokampaamo Hiustupa
        %br/
        Savilahdenkatu 2 A, 50100 Mikkeli
      %p
        %a{:href => "http://hiuspuoti.com/", :target => "_blank"}
          %strong Parturi-Ekokampaamo Meko
        %br/
        Ruukintie 23, 60100 Seinäjoki
      %p
        %a{:href => "https://www.facebook.com/EkokampaamoHiuspuoti", :target => "_blank"}
          %strong Ekokampaamo Hiuspuoti
        %br/
        Kirkkotie 27, 61100 Peräseinäjoki
      %p
        %a{:href => "http://parturikampaamosatukaunisto.yhteystietopalvelu.com/", :target => "_blank"}
          %strong Parturi-Kampaamo Satu Kaunisto
        %br/
        Lumikonpiha 5, 61800 Kauhajoki
        %br/
        %br/
        %a{:href => "http://ekomieli.wix.com/ekokampaamo", :target => "_blank"}
          %strong Ekokampaamo-Parturi Mieli
        %br/
        Raastuvankatu 32, 65100 Vaasa
      %p
        %strong Clippo, Ekofrisör Mikaela Sjöberg
        %br/
        Solfvägen 213, 65450 SOLF
        %br/
        %br/
        %a{:href => "http://vihreatahti.fi/", :target => "_blank"}
          %strong Hiushuone Vihreä Tähti
        %br/
        Niiralankatu 19, 70600 Kuopio
      %p
        %a{:href => "http://www.hiusmeri.com/", :target => "_blank"}
          %strong Parturi-Kampaamo Hiusmeri
        %br/
        Antinkankaantie 28, 92130 Raahe
      %p
        %a{:href => "http://pienihiushuone.net/", :target => "_blank"}
          %strong Parturi-kampaamo Pieni Hiushuone
        %br/
        Valtakatu 5, 94100 Kemi
      %p
        %a{:href => "http://www.luonnonkauniit.fi/", :target => "_blank"}
          %strong Salonki Luonnon Kauniit
        %br/
        Hallituskatu 2 A 10, 95400 Tornio
      %p
        %a{:href => "https://fi-fi.facebook.com/hiuspalvelu", :target => "_blank"}
          %strong Hiuspalvelu Anne Lehtinen
        %br.style1/
        Metsätie 5, 99800 Ivalo
      %br/
      
  .logo_right
    =image_tag "site/hair.jpg"
