.one
  .eighty
    = raw  t("standards.header")
    .one
      .seven
        %img{:alt => "natrue", :src => "images/NATRUE.gif"}/
      .imgleft
        = raw  t("standards.natrue")
      %hr/
      = raw  t("standards.dementer")
      %hr/
      .one
        .seven
          %img{:alt => "BDIH", :src => "images/wBDIH-72-55.gif"}/
        .imgleft
          = raw  t("standards.cert")
  .logo_right
    %img{:src => "/images/site/kuva2.jpg"}/
