.eighty
  = raw  t("standards.header")
  .one
    .seven
      =image_tag  "NATRUE.gif"
    .imgleft
      = raw  t("standards.natrue")
    %hr/
    = raw  t("standards.dementer")
    %hr/
    .one
      .seven
        =image_tag "wBDIH-72-55.gif"
      .imgleft
        = raw  t("standards.cert")
.twenty
  =image_tag "site/kuva2.jpg" , :width => "100%"
