<div class="one">
  <div class ="eighty">
    <%= raw  t("standards.header")%>
    <div class="one">
      <div class="seven">
        <img src="images/NATRUE.gif" alt="natrue" >
      </div>
      <div class="imgleft">
        <%= raw  t("standards.natrue")%>
      </div>
      <hr>
      <%= raw  t("standards.dementer")%>

      <hr>

      <div class="one">
        <div class="seven">
          <img src="images/wBDIH-72-55.gif" alt="BDIH" >
        </div>
        <div class="imgleft">
          <%= raw  t("standards.cert")%>
        </div>
      </div>
    </div>
  </div>

  <div class="logo_right" >
    <img src="/images/site/kuva2.jpg"/>
  </div>


</div>
