.one
  .eighty
    %h2
      Farfallan luonnonkosmetiikkaa tuo maahan
      = succeed "Auringosta" do
        %br/
      Itään, Kuusta Länteen Tukku
    %em
      %strong Näillä sivuilla esitellään Farfallan huippulaatuista sveitsiläistä luomukosmetiikkaa.
    Kaikilla Farfallan tuotteilla on NaTrue -tai BDIH -sertifikaatti ja ne on valmistettu 100% luonnollisista aineista. Suuressa osassa tuotteita luomuprosentti on yli 95%.
    %br/
    %br/
    Viehättävä kivijalkakauppamme sijaitsee Helsingin Viiskulmassa. Siellä on esillä  Suomen laajin valikoima Farfallan laadukasta luomukosmetiikkaa.  Yhteystiedot löydät alta.
    %br/
    %br/
    Farfallan tuotteita voi ostaa myös verkkokaupastamme osoitteessa
    %a{:href => "http://auringostaitaan.fi/"} auringostaitaan.fi
    = succeed "Jo" do
      %br/
    vuodesta 1998 alkaen olemme tuoneet maahan tuotteita, jotka ovat laadukkaita, kauniita ja eettisesti kestävästi valmistettuja.
    %br/
    %h3 Yritysasiakkaille
    %em
      %strong Jos olet kiinnostunut ryhtymään Farfallan jälleenmyyjäksi,
      tai muuten haluat tietää lisää tästä huippulaatuisesta luomukosmetiikasta, ota meihin yhteyttä.  Farfallan jälleenmyyjinä on monia ekokampaamoja ja -kauneushoitoloita ympäri Suomen.
    Koko maahantuomamme Farfalla-valikoima on esillä liikkeessämme, tervetuloa tutustumaan!
    %br/
    %br/
    Halutessasi voit ostaa Farfalla-tuotteita suoraan verkkokaupastamme, osoitteessa
    = succeed "." do
      %a{:href => "http://tukku.auringostaitaan.fi/"} tukku.auringostaitaan.fi
    Saadaksesi käyttäjätunnuksen tukun nettikauppaan ota yhteyttä sähköpostilla: tukku@auringostaitaan.fi.
    %br/
    %br/
    %br/
    .two
      %h2 Liikkeemme
      %div{:style => "font-size: 15px;"}
        %b Auringosta Itään, Kuusta Länteen
        %br/
        Fredrikinkatu 19 (Viiskulma), Helsinki
        %br/
        puh 09- 621 7001
        %br/
        verkkokauppa
        %a{:href => "http://auringostaitaan.fi/"} auringostaitaan.fi
        %br/
        sähköposti: info@auringostaitaan.fi
        %br/
    .two-right
      %h2 Tukku
      %div{:style => "font-size: 15px;"}
        %b
          Auringosta Itään,
          = succeed "Kuusta" do
            %br/
          Länteen Tukku
        %br/
        sähköposti: tukku@auringostaitaan.fi
        %br/
        puhelin: 040 146 1222
        %br/
        Fiskarsintie 513, 10480 Antskog
        %br/
        %br/
  .logo_right
    %img{:src => "/images/site/body1.jpg"}/
