@import "susy";
.container {
  @include container(100%);
}

.subcat-col {
  @include span(6 of 12);
  text-align: center;
  font: 15px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    a:hover {
      color: #e3a7c3;
      text-decoration: none;
    }
}

.subcat-text {
  padding: 15px;
}

.subcat-box {
  padding: 15px;
}


