.round{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

a:hover {
  text-decoration: none !important;
  color: #fa9ff8;
}

.pictures{
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-md-3 {
  .row{ margin-top: 20px;}
}

.head_picture {
  margin-top: -25px;
}
