@import "susy";
$susy: layout(12);


.product_page {
  @include span(isolate 10 at 2);

  .product_name {
    color: green;
    text-align: center;
    font-size: 24px;
  }

  .image {
    img {
      width: 100%;
    }
    @include span(isolate 6);
     padding: 10px;
     border-style: solid;
     border-width: thick;
     color: hotpink;
     margin: 20px;
  }

  .product_summary {
    @include span(12);
    color: green;
    font-size: 16px;

  }
  
  .product_description {
    @include span(12);
    color: green;
    text-align: justify;
    font-size: 16px;
  }

  .product_price {
    @include span(12);
    color: green;
    font-size: 20px;
  }
}
