<h1>age miracle
                  </h1>
                  <div align="right">
                    <table border="0" cellpadding="3" cellspacing="0" width="100%">
                      <tbody><tr>
                        <td valign="top" width="82%"><p><em>for anti-ageing care</em></p>
                          <p>1. Innovation: Slows down ageing process of skin! 
                            2. Effectively tones skin. 
                            3. Significantly improves moisture level of skin. 
                            4. Is dermatologically proven to diminish wrinkles. 
                            
                        </p></td>
                        <td valign="top" width="18%"><p><img src="images_web/feelbeautiful/www-4logo-am.jpg" alt="logo age miracle" height="108" width="100"></p></td>
                      </tr>
                    </tbody></table>
                    <div align="left"></div>
                  </div>
                  <p><strong>Innovative active ingredients </strong></p>
                  <p>Leucojum Aestivum bulb extract 
                    An absolute innovation in anti-ageing research! Rather than speeding up the skin’s 
                    cell division, as is the case with other products, the so-called ‘dormins’ extracted 
                    from the Summer snowflake, reduce the speed of cell division. This extract offers 
                    the sought-after effects of slowing down the skin’s ageing process, improving its 
                    elasticity and noticeably reducing the depth of wrinkles. </p>
                  <p>Paracress extract 
                    Extensive tests have shown that this extract relaxes the facial muscles, which 
                    has a distinct wrinkle-improving effect. This was confirmed by 75% of the test 
                    participants after only a day’s use. 83% of the testers also confirmed a significant 
                    reduction in “crow’s feet”. Relaxed facial features correspond to fewer wrinkles 
                    and a younger-looking skin. </p>
                  <p>Centella asiatica extract 
                    This organic extract stimulates the production of the skin’s own collagen and has 
                    a significant influence on the skin’s elasticity and toning of the facial outline. </p>
                  <p>Hyaluronic acid 
                    This powerful active agent is isolated from wheat. Hyaluronic acid is, in fact,
                    produced by the skin itself. However, by the age of 35, its production gradually decreases.
                    Hyaluronic acid is capable of binding water to skin cells, thus increasing 
                    the elasticity of the skin. </p>
                  <p>Natural scents 
                    According to aromatherapeutic principles, a mixture of essential oils, isolated 
                    from iris and attar of roses, supports the regenerating effect.</p>
                  <table border="0" cellpadding="3" cellspacing="0" width="100%">
                    <tbody><tr>
                      <td valign="top" width="33%"><img src="images_web/feelbeautiful/www-am-creme.jpg" alt="age miracle cream" height="377" width="190"></td>
                      <td valign="top" width="33%"><img src="images_web/feelbeautiful/www-am-serum.jpg" alt="age miracle lifting serum" height="377" width="190"></td>
                      <td valign="top" width="33%"><img src="images_web/feelbeautiful/www-am-rollon.jpg" alt="age miracle eye serum" height="377" width="190"></td>
                    </tr>
                    <tr>
                      <td valign="top"><p><strong>Lifting &amp; regenerating cream </strong></p>
                        <p>Noticeably smoothes and lifts thanks 
                          to its intensive moisturizing effect. 
                          Leucojum aestivum bulb extract, the 
                          anti-ageing innovation, slows down the 
                          ageing process of the skin and effectively 
                          reduces wrinkles. The sophisticated 
                          complex of active substances contained 
                          in paracress and hyaluronic acid tones 
                          the skin and leaves the facial outline 
                          more firm. The anti-wrinkle effectiveness 
                          is dermatologically proven. </p>
                        <p>100% from natural origin – 95% of the 
                      certifiable natural substances are organic </p></td>
                      <td valign="top"><p><strong>Lifting serum </strong></p>
                        <p>The active-agent concentrate with an 
                          intensive effect! The sophisticated complex 
                          of active substances tones the skin 
                          and leaves the facial outline firmer. Apply
                          in the morning 2-3 times a week or as a 
                          daily course of treatment for 3-4 weeks.
                          Supports the effects of the age miracle
                          line. Also recommended as an anti-ageing 
                          course of treatment in combination with 
                          our other product lines. The anti-wrinkle 
                          effectiveness is dermatologically proven. </p>
                        <p>100% from natural origin – 95% of the 
                      certifiable natural substances are organic </p></td>
                      <td valign="top" width="33%"><p><strong>Lifting eye serum </strong></p>
                        <p>A sophisticated complex of active ingredients 
                          refills the skin’s moisture depots 
                          and smoothes eye wrinkles successfully. 
                          Sorbus domestica bud extract visibly 
                          enhance the appearance of dark circles 
                          and unsightly puffiness around the 
                          eyes. Ultra gentle eyecare for delicate 
                          skin and eyes that shine. Every morning 
                          and evening, apply after cleansing/ 
                          toning by gently patting onto skin. </p>
                        <p>100% from natural origin – 95% of the 
                      certifiable natural substances are organic </p></td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images_web/feelbeautiful/www-am-nacht.jpg" alt="night miracle fluid" height="377" width="190"></td>
                      <td valign="top">&nbsp;</td>
                      <td valign="top">&nbsp;</td>
                    </tr>
                    <tr>
                      <td valign="top"><p><strong>Night miracle fluid </strong></p>
                        <p>Light night care with a superior degree 
                          complex of active ingredients. Allows 
                          skin to breathe deeply during the night 
                          and stimulates complexion towards 
                          new tension and freshness in the morning. 
                          Leucojum aestivum bulb extract, 
                          the anti-ageing innovation, slows down
                          ageing process of skin and smoothes 
                          wrinkles. Use in the evenings, following 
                          cleansing/toning. If desired, add nourishing 
                        cream afterwards. </p>
                        <p>100% from natural origin – 95% of the 
                      certifiable natural substances are organic </p></td>
                      <td valign="top">&nbsp;</td>
                      <td valign="top">&nbsp;</td>
                    </tr>
                  </tbody></table>
