 
            <h1><br>
              Amberstone Cosmetics – for silky-soft and radiant skin</h1>
            <p>The new premium line in the Crystal Balance® range </p>
            <p>This innovative product line draws its wide-ranging efficacy from
              the light-bringing qualities of amber. The stone’s energy,
              as with the other oils in the Crystal Balance® range, is harnessed
              for skincare by a special maceration, and supported by a finely
              tuned blend of organic essential oils. Amber gemstone oil and moisturising
              cream lend the complexion a new radiance and are especially effective
              for skin with bad blood circulation, and for tired and sallow skin.
              Fruity, fresh aromas of mandarin and bergamot, combined with warming
              essences of benzoin, ginger and vanilla, warm the heart and impart
            a feeling of security.</p>
            <p>Certified organic cosmetic with 95% organic ingredients – 3
              stars NaTrue. Without artificial scents, preservatives or paraffines.
              We do not use polyethylene glycol or paraffines. Farfalla is against
              animal testing.</p>
            <div align="right">
            <em>NaTrue </em></div>
            <table border="0" cellpadding="5" cellspacing="0" width="100%">
              <tbody><tr>
                <td valign="top" width="64%"> <h3>Amberstone Oil ***</h3>
                  <p><br>
                    A warming oil that awakens sunny thoughts and inner energy. Essential oils of benzoe and mandarin make the skin silky-soft and radiant. It can be used as a facial, skin, massage or bath oil. Massage gently into face or body. <br>
                  *Certified organic cosmetic. 80 ml &nbsp;</p>
                  <p><span class="inci">INCI: Simondsia Chinensis*, Parfum (Natural Essential Oils), Benzyl Benzoate**, Citral**, Geraniol**, Linalol**, Limonene**. <br>
                    *certified organic, **from natural essential oils</span><br>
                    <br><br>
                    <br>
                    <br>
                </p></td>
                <td valign="top" width="36%"><img src="images_web/be_edelsteinoel.jpg" height="231" width="187"></td>
              </tr>
              <tr>
                <td valign="top"><h3>Amberstone Cream***</h3>
                    <p> <br>
                    A warming oil that awakens sunny thoughts and inner energy. Essential oils of benzoe and mandarin make the skin silky-soft and radiant. It can be used as a facial, skin, massage or bath oil. Massage gently into face or body.&nbsp;<br>
                    *
                  Certified organic cosmetic. 80 ml.&nbsp;</p>
                    <p class="inci">INCI: Aqua, Helianthus Annuus Seed Oil*, Simmondsia Chinensis Seed Oil*, Aloe Barbadensis Leaf Juice*, Citrus Aurantium Amara Flower Water*, Alcohol*, Lauryl Laurate, Glycerin*, Parfum (natural essential oils), Cetearyl Alcohol, Cetearyl Glucoside, Glyceryl Stearate, Sodium Stearoyl Glutamate, Xanthan Gum, Calendula Officinalis Extract*, Centella Asiatica Extract*, Gellan Gum, Glycine Soja Oil, Tocopherol, Citric Acid, Ascorbic Acid, Benzyl Benzoate**, Citral**, Coumarine**, Farnesol**, Geraniol**, Linalool**, Limonene**. <br>
                      *certified organic, **part of natural essential oils.<br>
                    <br>
                    </p>
                <p>&nbsp;</p></td>
                <td valign="top"><img src="images_web/be_pflegecreme.jpg" height="231" width="187"></td>
              </tr>
              <tr>
                <td height="260" valign="top"><h3>Amberstone Eau Fraîche***<br>
                </h3>
                  <p>Amber and bergamot combine their light-attracting energy, while benzoe and mandarin offer a gentle background. Use: Use as a natural perfume, energy spray and room harmoniser.<br>
                    *
                    Certified organic cosmetic with 95% organic ingredients. 50 ml.
  
                  </p>
                  <p><span class="inci">                    INCI: Alcohol*, Citrus Aurantium Amara Flower Water*, Parfum (Natural Essential Oils), Benzyl Benzoate**, Benzyl Cinnamate**, Citral**, Coumarine**, Farnesol**, Geraniol**, Linalool**, Limonene**.<br>
*certified organic, **part of natural essential oils</span>
                    </p>
                    <br style="page-break-before:always;" clear="ALL">
                  <p></p>
                    </td>
                <td valign="top"><img src="images_web/be_eaufraiche.jpg" height="231" width="187"></td>
              </tr>
              <tr>
                <td height="177" valign="top"><h3>Amberstone Set </h3>
                  <p><br>
                   
Contains 20 ml Amberstone oil, 20 ml Amberstone cream and 20 ml Amberstone
  Eau Fraîche. </p>
                  <p>To test and try out or as a pretty feel-good present set.</p>
                  <p>crystal balance® massage&nbsp;</p>
                  <p> <a href="http://www.farfalla-seminar.ch/" target="_blank">www.farfalla-seminar.ch</a> or&nbsp; <a href="http://www.crystal-balance.com/" target="_blank"><br>
                  www.crystal-balance.com</a> </p>
                  <p><br>
                </p></td>
                <td valign="top"><img src="images_web/be_set.jpg" height="187" width="264"></td>
              </tr>
          </tbody></table>            
          <p align="right"><a href="#top"><font color="#666666">              <strong>top&gt;</strong> </font></a></p>