<tbody><tr> 
          <td valign="top" bgcolor="#FFFFFF"> 
            <h1><a name="top"></a>
</h1>
            <p>&nbsp;            </p>
            <table width="100%" cellspacing="0" cellpadding="4" border="0">
              <tbody><tr>
                <td><h1>Ambra</h1>
                  <p class="Stil3"><b>Sensuous body care</b></p>
                  <p>Imagine that you’re letting yourself be thoroughly spoilt in a superb wellness hotel in Southern India, the mysterious scents of the Orient drifting through the open window. The delicate scents of this line are also warm, sensuous and enveloping. With, of course, most of the ingredients in organic quality. Jump in and spoil yourself!<b><br>
                    </b><br>
                  </p>
                </td>
              </tr>
            </tbody></table>
            <table width="100%" cellspacing="0" cellpadding="5" border="0">
              <tbody><tr> 
                <td width="50%" valign="top" height="230"><p align="left"><strong>Ambra Shower Cream </strong><br>
  Velvety soft shower cream with a 
  warm sensuous scent note for your daily, gentle body cleansing. Application: apply a pearl-sized portion to wet skin and work to a foam. With a cleansing sponge you can achieve more foam. 200 ml</p>
                  <p align="right"><img width="200" height="300" src="images_web/dusch-ambra.jpg"></p></td>
                <td width="50%" valign="top" height="230"> <p align="left"><strong>Ambra Bodylotion <br>
                  </strong>This body lotion with its warm, sensuous scent gives your skin a velvety soft feeling. With plant <br>
oils and floral waters in organic quality. For your daily body care. 150 ml</p>
                  <p align="right"><img width="200" height="300" src="images_web/lotion-ambra.jpg"></p></td>
              </tr>
              <tr>
                <td valign="top" height="267"><p><strong>Ambra Bodybutter <br>
                  </strong>A delicate bodybutter for intensive skin moisturising. It melts on the skin to give a velvety textue. With the scent of ambra - a sensuous pleasure. 50 ml</p>
                    <p align="right">&nbsp;</p>
                    <p align="right">&nbsp;</p>
                    <p align="right"><img width="199" height="142" src="images_web/butter-ambra.jpg"></p></td>
                <td valign="top" height="267"><p><strong>Ambra Eau Fraîche <br>
                  </strong>A sumptuous scent composition with a deep, warm vibrancy. A sophisticated blend of cistus with sandalwood, rose attar and vanilla. This Eau Fraîche gives the wearer a touch of magic. 50 ml</p>
                    <p align="right"><b><img width="186" height="238" src="images_web/eau-ambra.jpg"></b></p></td>
              </tr>
              <tr> 
                <td width="50%" valign="top" height="215"> <p><strong>Ambra Shower Cream</strong></p>
                  <p>Small version for travelling and to try out </p>
                <p align="right"><b><img width="100" height="126" src="images_web/ambra_duschcreme_kl.jpg"></b></p></td>
                <td width="50%" valign="top" height="215"><p><strong>Ambra Bodylotion</strong></p>
                  <p align="left">Small version for travelling and to try out </p>
                <p align="right"><img width="100" height="141" src="images_web/ambra_koerperlotion.jpg"></p></td>
              </tr>
              <tr> 
                <td width="50%" valign="top" height="29"> 
                  <a href="#top"><b>top&gt;</b></a>
                </td>
                <td width="50%">&nbsp;</td>
              </tr>
            </tbody></table>
            
          </td>
        </tr>
      </tbody>