<table border="0" cellpadding="5" cellspacing="0" width="100%">
            <tbody><tr valign="top">
              <td bgcolor="#FFFFFF">
              <h1>
        Aroma Sprays</h1>
       <p>Ideal to refresh the air in a room, neutralise odours or simply to create a scented environment. For a breath of fresh air, our Aroma Sprays with their natural perfumes are highly effective. For use in: homes, offices, toilets and bathrooms, cars, therapy rooms, waiting rooms, hositals.</p>
                  <table align="right" border="0" cellpadding="0" cellspacing="0" width="30%">
                    <tbody><tr>
                      <td><img src="images_web/aromaspray_gruppe.jpg" height="246" width="250"></td>
                    </tr>
                  </tbody></table>
                  <p><strong><br>
                    Ambiance<br>
                    </strong>Composition: a flowery, fresh, stimulating scent to set the mood for a calming environment.<br>
        Uses: living areas, offices, reception areas, waiting rooms.<br>
        Contents: bergamot, orange*, lemon*, rose geranium, peppermint. </p>
                  <p><strong>Atmosphere</strong> <br>
        Composition: a fresh, tangy scent, strongly purifying and an aid to concentration.<br>
        Uses: to neutralise odours and to use as air freshener in rooms and vehicles. <br>
        Contents: eucalyptus*, clove, neroli, lemon*, frankincense, lemongrass*.                  </p>
                  <p><strong>Fresh</strong><b><br>
                  </b>Composition: fresh, fruity, lemon touch. For refreshing the home and when travelling, in the car and hotel room. Boosts concentration when driving and keeps one awake. <br>
                  Contents: blood orange*, bergamot*, peppermint                  </p>
                  <p><strong>Tuscany<br>
                    </strong> Composition: a fruity, woody scent, which refreshes and stimulates the senses. <br>
        Uses: It can be used as an air freshener, to stimulate and cleanse rooms, conference halls and offices. <br>
        Contents: bergamot, chamomile, lavender*, rose geranium, lemon*, cypress*. </p>
                  <span class="Stil1">Vanilla-Mandarine</span><br>
      Composition: soft and fruity, mellow. This refreshing spray is a comforter for the soul and can be used everywhere as pleased. For the home, when travelling, in the childrens room etc.
      <h3><b>* = certified organic quality</b> </h3>
      </td>
            </tr>
          </tbody></table>
      
