<h1>Fresh Lime </h1>
                  <p class="Stil3">
                  <b>Refreshing body care</b></p>
                  <p>What a scent! Wandering through a citrus grove and feeling the intense southern sun on ones skin is intoxicating. This extraordinary scent impression of the blossoms and fruit of the lime tree revitalises body and soul. We have captured this scent for our body care line and have combined it with the best nurturing ingredients. For whenever your skin needs refreshing.<b><br>
                    </b><br>
                  </p>
