
        <table border="0" bordercolor="0" cellpadding="4" cellspacing="0" width="100%">
          <tbody><tr>
            <td valign="top" width="92%">
              <h1>Body Sprays</h1>
              <p>Wonderful scent companions in a small format. These handy spray bottles have room in every handbag and accompany you through your day. Five scent creations for different situations. Spray a freshness kick on the cleavage, face or the neck and the wrists. Body sprays are made of hydrosols, organic alcohol and a mixture of essential oils. <br/>
              Comes in 20 ml Bottles </p>
            </td>
            <td valign="top" width="8%"><div align="center">
              <p align="left"><img src="images_web/wBDIH-72.gif" height="40" width="40"></p>
              
            </div></td>
          </tr>
        </tbody></table>         
        <table align="right" border="0" cellpadding="3" cellspacing="0" width="48%">
          <tbody><tr> 
           
          </tr>
        </tbody></table>
        <table border="0" cellpadding="4" cellspacing="0" width="100%">
          <tbody><tr>
            <td height="266" valign="top">
              <p><span class="Stil1">Freshen Up<br/>
                </span>A fruity-cool, freshening spray for warm days and overheated brains. Use: spray once or twice directly on skin. Avoid contact with eyes.                
                <br/>
                Contents: Orange, lemon, orangeflower water</p>
              <p align="right"><img src="images_web/bs_erfrischen.jpg" height="239" width="179"></p>
      </td>
            <td height="266" valign="top" width="50%"><div align="right">
              <p align="left"><span class="Stil1">On the Move <br/>
                </span>A refreshing spray for concentration while driving or travelling. Use: Spray in the air or on the skin. Avoid contact with eyes. <br/>
Contents: lemon, mint, peppermint water</p>
              <p> <img src="images_web/bs_unterwegs.jpg" height="239" width="179"></p>
            </div></td>
          </tr>
          <tr>
            <td height="266" valign="top"><div align="right">
              <p align="left"><span class="Stil1">Three Roses</span><br/>
A delicate, pampering flower scent. Use whenever the fancy takes you. Avoid contact with eyes.<br/>
Contents: with rose oils and rose water </p>
              <p><img src="images_web/bs_rosen.jpg" height="239" width="179"></p>
            </div></td>
            <td height="266" valign="top"><div align="right">
              <p align="left"><span class="Stil1">Wellbeing<br/>
                </span>A relaxing scent to pamper and cheer. Use: spray once on skin whenever required. Avoid contact with eyes.<br/>
Contents: lavendel, orange, neroli</p>
              <p> <img src="images_web/bs_wohl.jpg" height="239" width="179"></p>
            </div></td>
          </tr>
        </tbody></table>            
        
        <p align="right"><a href="#top"><font color="#666666">              <strong>top&gt;</strong> </font></a> </p>
