<%= render :partial => "group_header" , :locals => {:group => "conditioner" }%>

<h2> <%= t('conditioner.header')%> </h2>
<br/>
<%= render :partial => "three_list" , :locals => {:group => "conditioner" }%>


