<h1>daily refresh                  </h1>
  <table width="100%" cellspacing="0" cellpadding="3" border="0">
    <tbody><tr>
      <td width="81%" valign="top"><p><em>for daily skin cleansing care </em></p>
        <p>1. Intensively yet gently cleanses skin. 
          2. Visibly refreshes and smoothes skin. 
          3. Ideal preparation for subsequent skin care. </p>
      </td>
      <td width="19%"><p><img width="100" height="108" alt="logo dailyrefresh" src="images_web/feelbeautiful/www-1logo-dr.jpg"></p></td>
    </tr>
  </tbody></table>
  <div align="left"></div>
<p><strong>I</strong><strong>nnovative active ingredients </strong></p>
<p>Quillaja 
  The prized organic Quillaja saponin is isolated from the bark of the South American 
  soap bark tree, Quillaja saponaria. The active substances contained in this 
  organic raw material are particularly suited to facial cleansing. Folk medicine has 
  also made use of this saponin-containing bark for many years. 
</p>
<p>Aloe Vera 
  The organic fresh plant extract, isolated from the Aloe vera leaf, supports cell 
  regeneration, thanks to its rich abundance of minerals, enzymes, trace elements 
  and vitamins. Aloe vera dispenses moisture with the result that the skin becomes 
  firmer and wrinkles are reduced and softened. 
</p>
<p>Natural scents with deep-penetrating effect 
  Organic essential oils such as grapefruit, lemon grass, rosemary, lemon and mint, 
  selected in accordance with aromatherapy principles, vitalise the skin and support 
  the deep-penetrating effect of the plant extracts.</p>
<table width="100%" cellspacing="0" cellpadding="3" border="0">
  <tbody><tr>
    <td width="33%" valign="top"><img width="190" height="377" alt="cleansing fluid" src="images_web/feelbeautiful/www-dr-fluid.jpg"></td>
    <td width="33%" valign="top"><img width="190" height="377" alt="cleansing foam" src="images_web/feelbeautiful/www-dr-schaum.jpg"></td>
    <td width="33%" valign="top"><img width="190" height="377" alt="daily refresh cleansing tonic" src="images_web/feelbeautiful/www-dr-tonicF.jpg"></td>
  </tr>
  <tr>
    <td valign="top"><p><strong>Cleansing fluid </strong></p>
      <p>Cleanses sensitive and dry skin intensively yet gently. Aloe vera protects
        skin against moisture loss. Grapefruit, 
        Douglas-fir and lemon essential oils 
        invigoratethe complexion. Apply
        cleansing fluid to damp face and gently 
        massage into skin. Thoroughly rinse off 
        with plenty of water. The cleansing 
        fluid can also be used as make-up
        remover. </p>
      <p>100% from natural origin &ndash; 95% of the 
    certifiable natural substances are organic </p></td>
    <td valign="top"><p><strong>Cleansing foam </strong></p>
      <p>Thoroughly cleanses and clarifies 
        normal and impure facial skin without 
        drying it out. Saponin from the
        quillaja bark gives a special feeling of
        cleanliness. Essential oils of grapefruit, 
        Douglas-fir and lemon invigorate the 
        complexion. Apply cleansing fluid to 
        damp face and gently massage into
        skin. Thoroughly rinse off with plenty
        of water. </p>
      <p>100% from natural origin 
    Also recommended for skin cleansing </p></td>
    <td width="33%" valign="top"><p><strong>Clarifying tonic </strong></p>
      <p>Clarifies and refreshes the skin and
        removes remaining traces of makeup. 
        Slightly disinfecting thanks to 
        hamamelis water and the essential oils
        in rosemary, cistus and manuka. Ideal 
        preparation for skin to absorb complex 
        of active ingredients in subsequent 
        skin care. After cleansing, spray tonic 
        on damp cotton pad and gently wipe all 
        over face. 100% from natural origin &ndash; 72% of the 
    certifiable natural substances are organic </p></td>
  </tr>
  <tr>
    <td valign="top"><img width="190" height="377" alt="daily refresh tonic" src="images_web/feelbeautiful/www-dr-tonicK.jpg"></td>
    <td valign="top"><img width="190" height="377" alt="daily refresh peeling" src="images_web/feelbeautiful/www-dr-peeling.jpg"></td>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top"><p><strong>Moisturising tonic </strong></p>
      <p>Refreshes and calms sensitive skin, 
        removes remaining traces of makeup. 
        Retains skin moisture thanks to 
        Centella asiatica and Aloe vera. Ideal 
        preparation for skin to absorb complex 
        of active ingredients in subsequent 
        skin care. After cleansing, spray tonic 
        on damp cotton pad and gently wipe all 
      over face. </p>
      <p>100% from natural origin &ndash; 70% of the 
    certifiable natural substances are organic </p></td>
    <td valign="top"><p><strong>Gentle exfoliating cream </strong></p>
      <p>For a silky-smooth complexion. Exfoliating
        particles made of rice and bamboo 
        gently remove dead skin scales, vitalise 
        skin and are ideal preparation for skin
        to absorb complex of active ingredients 
        in subsequent skin care. Massage well 
        into clean and moist skin, avoiding eye 
        area. Thoroughly rinse off with plenty 
    of water. </p></td>
    <td valign="top"></td>
  </tr>
</tbody></table>
                
