<h1 align="justify">Organic Face Care</h1>
                  <p align="justify"><strong><em><strong>feel beautiful </strong></em></strong></p>
                  <table border="0" cellpadding="3" cellspacing="0" width="100%">
                    <tbody><tr>
                      <td height="213" valign="top" width="50%"><p align="justify"><strong>                        Organic Cosmetics with Active Ingredients </strong></p>
                      <p align="justify">visibly effective. noticeably gentle. naturally innovative. </p></td>
                      <td valign="top" width="50%"><em><img src="images_web/www-logo-fb.jpg" alt="logo feelbeautiful" height="142" width="131"></em><em>For an individual, holistic skin care 
                      regimen, I combine the productsto suit my personal needs. </em></td>
                    </tr>
                  </tbody></table>
                  <p align="justify"><img src="images_web/NATRUE.gif" alt="natrue" height="50" width="50"></p>
                  <p align="justify">All products are certified in accordance with the NaTrue certification of organic 
                    and natural cosmetics, i.e. either as “Certified Organic Cosmetics” or as “Natural Cosmetics with a Portion of Organic Ingredients”. <br/>
                  </p>
                  <p align="justify">Effective – thanks to innovative plant ingredients <br/>
                    These sophisticated formulas are based on innovative, active plant ingredients,
                    all of which have been thoroughly tested for their effectiveness. Wherever possible, 
                    only ingredients of certified organic origin are used. This highly-developed 
                    product range offers a solution for the individual care needs of every type and 
                    property of skin. <br/>
                  </p>
                  <p align="justify">Effective – thanks to organic vegetable oils <br/>
                    Highly valuable, cold-pressed and unadulterated vegetable oils of the very best 
                    organic quality are rich in natural active ingredients. Thanks to the smooth interplay 
                    of a diversity of components, the skin is cared for in a holistic way. <br/>
                  </p>
                  <p align="justify">Effective – thanks to mountain spring water and floral waters. <br/>
Instead of tap-water, our products contain floral waters of organic quality and 
                    mountain spring water drawn from a certified mineral spring, situated at 2470 
                    metres above sea level in the Swiss Alps.</p>
                  <p align="justify"><strong>Modular care system </strong><br/>
These organic cosmetics with active ingredients have been specifically designed 
                    to suit a modular system. From the various product lines, you can choose the
                    cleansing and care products that best suit your skin. Depending on the amount 
                  of oil, moisture and special care your skin needs, you may choose from:</p>
                  <table border="0" cellpadding="3" cellspacing="0" width="100%">
                    <tbody><tr>
                      <td width="18%"><img src="images_web/feelbeautiful/www-1logo-dr.jpg" alt="logo daily refresh" usemap="#Map" border="0" height="100" width="90"></td>
                      <td width="18%"><img src="images_web/feelbeautiful/www-2logo-ib.jpg" alt="logo in balance" usemap="#Map2" border="0" height="100" width="90"></td>
                      <td width="18%"><img src="images_web/feelbeautiful/www-3logo-im.jpg" alt="logo intense moisture" usemap="#Map3" border="0" height="100" width="90"></td>
                      <td width="18%"><img src="images_web/feelbeautiful/www-4logo-am.jpg" alt="logo age miracle" usemap="#Map4" border="0" height="100" width="90"></td>
                      <td width="13%"><img src="images_web/feelbeautiful/www-5logo-ps.jpg" alt="logo pure sensitive" usemap="#Map5" border="0" height="100" width="90"></td>
                      <td width="15%"><img src="images_web/feelbeautiful/www-6logo-bb.jpg" alt="logo be beautiful" usemap="#Map6" border="0" height="100" width="90"></td>
                    </tr>
                    <tr>
                      <td valign="top">for daily skin cleansing care</td>
                      <td valign="top">for skin impurities at any age</td>
                      <td valign="top">for enhancing skin's moisture balance</td>
                      <td valign="top">for anit-ageing care</td>
                      <td valign="top">for sensitive skin</td>
                      <td valign="top">for care with a special "feel good" factor</td>
                    </tr>
                  </tbody></table>
                  <p align="justify"><strong>Farfalla 
                    sets standards </strong></p>
                  <p align="justify"><strong>0% Mineral oils </strong><br/>
                    Mineral oils form a film on the skin which can hinder the skin’s respiratory activity 
                    and possibly plug the pores. Farfalla Organic Cosmetics with Active Ingredients, 
                  therefore, use only valuable and highly-effective organic vegetable oils. </p>
<p align="justify"><strong>0% Synthetic substances </strong><br/>
  Farfalla Organic Cosmetics with Active Ingredients use only natural essential oils
                    as fragrances and active ingredients. Wherever possible, essential oils of certified 
                    organic origin are added. The exclusive use of natural preservatives guarantees
                    the excellent sustainability of the products. Since colorants do not increase the 
                  value of products, Farfalla has completely refrained from their addition. </p>
<p align="justify"><strong>0% Silicone or polyethylene glycol (PEG) </strong><br/>
  We comply fully with the standards in the natural cosmetics industry and use
                    neither silicone nor polyethylene glycol in our products. These additives could 
                  lead to skin or general health problems if applied to the skin regularly. </p>
<p align="justify"><strong>No animal testing </strong><br/>
  Farfalla products are not animal-tested. Farfalla has never taken part in animal experiments
                  and has never asked any third party to act on their behalf in this regard. </p>
                  <p align="justify">                    <strong>No adverse reactions </strong><br/>
                    All products have been clinically and dermatologically-tested (Dermatest) and 
                    have been awarded the top classification of “Very Good”. This means that not a 
                  single person showed any adverse reactions to the products. </p>
<p align="justify"><strong>NaTrue </strong><br/>
  Farfalla Organic Cosmetics with Active Ingredients are certified in accordance
                    with the NaTrue certification of organic and natural cosmetics. NaTrue makes the
                  following distinctions: <br/>
                  Level 1: Natural cosmetics which correspond to the present Bundesverband <br/>
                    Deutscher Industrie und Handelsunternehmen (BDIH ) standards. <br/>
                    Level 2: Natural cosmetics with organic ingredients – at least 70% organic <br/>
                    ingredients. <br/>
                  Level 3: Organic cosmetics – at least 95% organic ingredients <br/>
                  <br/>
                  More than 80% of the Farfalla Organic Cosmetics with Active Ingredients comply 
                    with Level 3 (Organic Cosmetics) requirements, two products comply with the 
                    Level 2 (Natural Cosmetics ) requirements, and one product is listed as “Natural 
                  Cosmetics”. </p>
                  <p align="justify"><strong>Fair Trade </strong><br/>
                    Since the very beginning, it has been a part of Farfalla’s philosophy to know the
                    manufacturers and cooperatives producing the Fair Trade raw materials we import
                    from over 40 countries worldwide. Through advance-financing, Farfalla helps to 
                    support small-scale projects that were initiated and are growing according to the 
                  philosophy and heartfelt endeavours of the people behind them. </p>
                  <p align="justify"><strong>Eco-Packaging</strong><br/>
                    Containers (jars or bottles). 
                    <br/>
                    The best protection for a product is a container (jar or bottle) made of glass. This is 
                    why we market these valuable Organic Cosmetics with Active Ingredients in glass
                    jars or bottles. Another positive aspect is that glass can be recycled without any
                    problems. Other packages in use are airless tubes and tubes made of recyclable
                  plastics. </p>
                  <p align="justify">Outer packaging <br/>
                    Outer packaging is necessary to protect the glass containers as much as possible. 
                    We also use it to convey important print information in various languages. The
                    ecological aspects are not overlooked either: The cardboard we use consists of 
                    100% sustainable FSC certified cardboard.                  <b><br/>
                    </b><br/>
                </p>