<em><strong>Farfalla Essentials</strong> on perustettu yli 26 vuotta sitten.</em> Se on ensimmäinen sveitsiläinen, heti perustamisestaan lähtien luomulaatuisille aromaterapia, hyvinvointi ja SPA-tuotteille omistautunut yhtiö. <br/><br/>

Farfallalla on jo alusta alkaen ollut visio. He ovat halunneet jakaa oman inspiraationsa ja asiantuntemuksensa  luomulaatuiseen kosmetiikkaan. Heidän tarkoituksensa on luoda mahdollisimman korkealaatuisia ja tehokkaita tuotteita moderneissa, tyylikkäissä pakkauksissa.<br/><br/>

Farfalla onkin onnistunut luomaan todella korkealaatuisia, sertifioituja luomutuotteita. 80 prosentissa tuotteista on yli 95% luomua, joka on nykystandardeissa todella paljon. Lukuisissa tuotteissa heillä on jopa 98% luomua. Suuri osa heidän tuotteistaan on tiukassa NaTrue -sertifiointijärjestelmässä saavuttanut tason Kolme (johon tarvitaan vähintään 95% raaka-aineista luomua). 

<br/><br/>

<strong>Farfallan toiminnan perusteet ovat</strong> 
<ul>
  <li>  edistää luomu filosofiaa - luontoa ja ihmisyyttä kunnioittaen </li>
  <li>  ekologiset tuotteet, jotka ovat luonnon kanssa sopusoinnussa  </li>
  <li>  hyvälaatuiset luomu raaka-aineet, luonnon ja eläinten hyvinvointi huomioiden - ei eläinkokeita eikä geenimanipulaatiota. </li>
  <li>  kaikki tuotteet reilun kaupan ehdoilla ja oikeudenmukaisesti hinnoiteltu </li>
  <li>  työilmapiiri, joka perustuu luottamukseen ja kaikkien työntekijöiden arvostamiseen  </li>
</ul>
<br/>
Farfallan filosofia heijastuu tuotteiden korkeassa laadussa. <em>Kaikissa tuotteissa toteutuvat luonnonmukaisuus, esteettisyys, eettisyys sekä elinvoimaisuus!</em>