Farfalla Essentials on perutettu yli 26 vuotta sitten. Se on ensimmäinen sveitsiläinen, heti perustamisestaan lähtien luomulaatuisille aromaterapia, hyvinvointi ja terveyskylpylä-/SPA-tuotteille omistautunut yhtiö. <br/>

Farfallalla on jo alusta alkaen ollut visio. He ovat halunneet jakaa oman innostuksensa ja asiantuntemuksensa luonnollisiin luomulaatuisiin tuoksuihin/hajusteisiin. Tarkoituksena on jo alusta alkaen ollut tuoda esiin näiden luonnollisten aineiden voima ja vitaalisuus sekä tehdä mahdolliseksi niiden hyödyntäminen jokapäiväisessä elämässä.
<br/>

Farfallan toiminnan perusteet ovat <br/>
<ul>
  <li>   luomu filosofian edistäminen, luontoa ja ihmisyyttä kunnioittaen </li>
  <li>  ekologiset luonnon kanssa sopusoinnussa olevat tuotteet </li>
  <li>  luomu raaka-aineet, luonto ja eläinten hyvinvointi huomioiden (ei eläinkokeita eikä geenimanipulaatiota) </li>
  <li>  reilu kauppa ja oikeudenmukainen hinnoittelu </li>
  <li>  luottamukseen ja arvostukseen perustuva työskentelyilmapiiri </li>
</ul>
<br/>
Tiivistettynä Farfallan filosofia heijastuu tuotteiden laadussa. Kaikissa tuotteissa toteutuvat luonnonmukaisuus, aistillisuus sekä elinvoimaisuus!