<tbody><tr> 
          <td valign="top" bgcolor="#FFFFFF"> 
            <h1><a name="top"></a>
</h1>
            <p>&nbsp;            </p>
            <table width="100%" cellspacing="0" cellpadding="4" border="0">
              <tbody><tr>
                <td height="128"><h1 class="Stil4">Frangipani</h1>
                  <p class="Stil3">Body care as delicate as a blossom</p>
                  <p><strong>                    </strong>Writers and poets wax lyrical about the loveliness 
                    of the frangipani blossom. And about its scent, <br>
                    delicately flowery, slightly sweet and yet fresh, 
                  simply enthralling. This scent creation adorns our new, very nurturing bodyline. It goes without saying that we do this beauty justice with the best ingredients in organic quality. Come marvel with us!</p>
                  <p><br>
                  </p></td>
              </tr>
            </tbody></table>
            <table width="100%" cellspacing="0" cellpadding="5" border="0">
              <tbody><tr> 
                <td width="50%" valign="top" height="230"><p align="left"><strong>Frangipani Shower cream</strong><br>
Silky soft shower cream with a delicate note of tropical flowers. For your daily body cleansing. Application: apply a pearl-sized portion to wet skin and work to a foam. With a cleansing sponge you can achieve more foam. 200 ml</p>
                  <p align="right"><img width="200" height="300" src="images_web/dusch-frangi.jpg"></p></td>
                <td width="50%" valign="top" height="230"> <div align="right">
                  <p align="left"><strong>Frangipani Bodylotion <br>
                    </strong>This body lotion, with its light and delicate scent of tropical frangipani blossoms, gives your skin a pleasant silky feeling. With plant oils and floral waters in organic quality. For your daily body care. 150 ml</p>
                  <p align="right"><img width="200" height="300" src="images_web/lotion-frangi.jpg"></p>
                  <p align="left">&nbsp;</p>
                  </div></td>
              </tr>
              <tr>
                <td valign="top" height="267"><div align="left">
                    <p><strong>Frangipani Bodybutter <br>
                      </strong>When the skin needs intensive moisture, this body butter is just right. It is easily absorbed and provides the skin with a silky feeling. Accompanied by the delicate scent of frangipani. 50 ml
                    </p><p align="right"><br>
                      </p>
                    <p align="right"><img width="200" height="162" src="images_web/butter-frangi.jpg"></p>
                </div></td>
                <td valign="top" height="267"><p><strong>Frangipani Eau Fraîche<br>
                  </strong>An Eau Fraîche is a discreet natural perfume, which accompanies you throughout your day. With fruity head notes, soft delicate notes in the middle and the scent of tropical frangipani blossoms. 50 ml </p>
                    <p align="right"><img width="183" height="238" src="images_web/eau-frangi.jpg"></p></td>
              </tr>
              <tr> 
                <td width="50%" valign="top" height="238"> <div align="left">
                  <p><strong>Frangipani Shower cream</strong>
                  </p><p>Small version for travelling and to try out 
                  </p><p align="right"><strong><img width="100" height="132" src="images_web/frangi_duschcreme_kl.jpg">                    </strong>                  
                  </p><p align="right">&nbsp;</p>
                </div></td>
                <td width="50%" valign="top" height="238"><p><strong>Frangipani Bodylotion</strong></p>
                  <p>Small version for travelling and to try out </p>
                  <p align="right"><img width="100" height="132" src="images_web/frangi_koerperlotion_kl.jpg"></p></td>
              </tr>
              <tr> 
                <td width="50%" valign="top" height="29"> 
                  <a href="#top"><b>top&gt;</b></a>
                </td>
                <td width="50%">&nbsp;</td>
              </tr>
            </tbody></table>
            
          </td>
        </tr>
      </tbody>