<h1>Fresh Lime </h1>
                  <p class="Stil3">
                  <b>Refreshing body care</b></p>
                  <p>What a scent! Wandering through a citrus grove and feeling the intense southern sun on ones skin is intoxicating. This extraordinary scent impression of the blossoms and fruit of the lime tree revitalises body and soul. We have captured this scent for our body care line and have combined it with the best nurturing ingredients. For whenever your skin needs refreshing.<b><br/>
                    </b><br/>
                  </p>
<tbody><tr> 
                <td width="50%" valign="top" height="230"><p><strong>Fresh Lime Shower cream </strong><br/>
  Velvety soft shower cream with the <br/>
  refreshing scent of ripe lime. <br/>
  Application: apply a pearl-sized portion to wet skin and work to a foam. With a cleansing sponge you can achieve more foam. 200 ml </p>
                  <p align="right"><img width="200" height="300" src="images_web/dusch-fresh.jpg"></p>                  <p align="left">&nbsp;</p>
                </td>
                <td width="50%" valign="top" height="230"> <p><strong>Fresh Lime Bodylotion <br/>
                </strong>Deliciously caring and refreshing. <br/>
This body lotion with its fruity and light scent gives your skin a delicate feeling. With plant oils and hydrosols in organic quality. For your daily body care. 150 ml</p>
                  <p align="right"><img width="200" height="300" src="images_web/lotion-fresh.jpg"></p></td>
              </tr>
              <tr> 
                <td width="50%" valign="top" height="313"> <p><strong>Fresh Bodybutter<br/>
                </strong>Intensive moisture for the skin. <br/>
It is easily absorbed by the skin and provides a pleasant feeling of freshness. 50 ml</p>
                  <p align="right">&nbsp;</p>
                  <p align="right"><img width="200" height="202" src="images_web/butter-fresh.jpg"></p></td>
                <td width="50%" valign="top" height="313"><p align="left"><strong>Fresh Lime Eau Fraîche<br/>
                </strong>An Eau Fraîche is a light and discreet natural perfume. It has a fresh, fruity and cheerful scent. Fruity and joyous tips are underlined with soft notes of iris root and vanilla. 50 ml
                </p><p align="right"><b><img width="187" height="241" src="images_web/eau-fresh.jpg"></b></p></td>
              </tr>
              <tr>
                <td valign="top" height="238"><div align="left">
                    <p><strong>Lime and Lemon Shower cream</strong>
                    </p><p>Small version for travelling and to try out 
                    </p><p align="right"><strong><img width="100" height="139" src="images_web/lime_duschcreme_kl.jpg"> </strong>
                        </p><p align="right">&nbsp;</p>
                </div></td>
                <td valign="top" height="238"><p><strong>Lime and Lemon Bodylotion</strong></p>
                    <p>Small version for travelling and to try out </p>
                    <p align="right"><img width="100" height="136" src="images_web/lime_koerperlotion_kl.jpg"></p></td>
              </tr>
              <tr> 
                <td width="50%" valign="top" height="29"> 
                  <a href="#top"><b>top&gt;</b></a>
                </td>
                <td width="50%">&nbsp;</td>
              </tr>
            </tbody>