 
            <h1><br>
              Gemstone Oils</h1>
           
            <div align="justify">Throughout the ages, gemstones have been associated with healing and balancing properties. These balancing characteristics counteract negative energy, stress and anxiety while enhancing the positive – beauty, wellness and happiness.<br>
&nbsp;<br>
  It is said that people are instinctively drawn to the gemstone with the properties they need – complementing their inner light and beauty. Cleopatra’s favorite gemstone, for example, was the Peridot, which is celebrated for it’s skin benefits and ability to &nbsp;heal, tone and &nbsp;and regenerate tissue.<br>
&nbsp;<br>
  For the first time, the special properties of gemstones have been transferred to a luxurious cosmetic oil: Farfalla Gemstone Oils combine the balancing characteristics of gemstones with nourishing and moisturizing Jojoba oil. Complementing essential oils and a small gemstone in each bottle enhance the effect.<br>
&nbsp;<br>
  Indulge both your skin and your senses – stay balanced and beautiful with a bath or massage with one of the unique Farfalla Gemstone Oils! </div>
            <div align="right"><br>
              <br>
              
              <em>
              <p></p>
              NaTrue
            </em></div>
