 
            <h1><br>
              Gemstone Oils</h1>
           
            <div align="justify">Throughout the ages, gemstones have been associated with healing and balancing properties. These balancing characteristics counteract negative energy, stress and anxiety while enhancing the positive – beauty, wellness and happiness.<br>
&nbsp;<br>
  It is said that people are instinctively drawn to the gemstone with the properties they need – complementing their inner light and beauty. Cleopatra’s favorite gemstone, for example, was the Peridot, which is celebrated for it’s skin benefits and ability to &nbsp;heal, tone and &nbsp;and regenerate tissue.<br>
&nbsp;<br>
  For the first time, the special properties of gemstones have been transferred to a luxurious cosmetic oil: Farfalla Gemstone Oils combine the balancing characteristics of gemstones with nourishing and moisturizing Jojoba oil. Complementing essential oils and a small gemstone in each bottle enhance the effect.<br>
&nbsp;<br>
  Indulge both your skin and your senses – stay balanced and beautiful with a bath or massage with one of the unique Farfalla Gemstone Oils! </div>
            <div align="right"><br>
              <br>
              
              <em>
              <p></p>
              NaTrue
            </em></div>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody><tr>
                <td valign="top" width="64%"><p><strong>Gemstone Oil Joy of Life<br>
                      <br>
                  </strong>
                  Rediscover the joy of living! A bath or massage with this oil helps boost vitality, courage, sensuality and self-confidence. To enhance the effects, each bottle contains a small gemstone. <br>
                  Application: As a massage oil or face care and body oil. Gemstones used: garnet, ruby, rose quartz. Essential oils used: rose, sandalwood, rose geranium, bergamot*. Ingredients: jojoba oil*, a blend of natural essential oils*.&nbsp;&nbsp;&nbsp;&nbsp; <br>
                  * certified organic</p>
                  <span class="inci1">
                  <p></p>                  
                INCI: Simondsia Chinensis*, Parfum* (Natural Essential Oils), Citral**, Geraniol**, Linalol**, Limonene**, Citronellol**. *certified organic, **from natural essential oils.</span></td>
                <td valign="top" width="36%"><img src="images_web/edelsteinoele_lebensfreude.jpg" height="250" width="187"></td>
              </tr>
              <tr>
                <td valign="top"><p><strong>Gemstone Oil Regeneration</strong><br>
                    <br>
                   Re-awaken your mind and body! This oil energises, encourages and helps to re-establish control and productivity. To enhance the effects, each bottle contains a small gemstone. <br>
                   Application: as a massage oil or face care and body oil. Gemstones used: epidote, ocean agate, zoisite with ruby. Essential oils used: ravintsara*, myrrh*, litsea cubeba. Ingredients: jojoba oil*, a blend of natural essential oils*.&nbsp;&nbsp; <br>
                   * certified organic</p>
                  <p class="inci1">INCI: Simondsia Chinensis*, Parfum* (Natural Essential Oils), Citral**, Geraniol**, Linalol**, Limonene**. *certified organic, **from natural essential oils</p></td>
                <td valign="top"><img src="images_web/edelsteinoel_reg.jpg" height="249" width="187"></td>
              </tr>
              <tr>
                <td valign="top"><p><strong>Gemstone Oil Positive Flow</strong><br>
                    <br>
                    Rediscover your personal centre! This oil stimulates positive energy and releases inner tension, helping to relax both mind and body. It encourages serenity and a feeling of ease. To enhance the effects, each bottle contains a small gemstone.<br>
                    Application: as a massage oil or face care and body oil. Gemstones used: sodalithe, chalcedony, amber. Essential oils used: white fir*, geranium*, palmarosa*. Ingredients: jojoba oil*, a blend of natural essential oils*. <br>
                * certified organic</p>
                <p></p>
                  <p class="inci1">INCI: Simmondsia Chinensis Seed Oil*, Parfum* (Natural Essential Oils), Citral**, Citronellol**, Farnesol**, Geraniol**, Linalol**, Limonene**. *certified organic, **from natural essential oils</p></td>
                <td valign="top"><img src="images_web/edelsteinoele_influss.jpg" height="250" width="187"></td>
              </tr>
              <tr>
                <td valign="top"><strong>Gemstone Oil Security</strong><br>
                    <br>
         Enjoy a sense of composure! This oil promotes emotional balance and stability, strengthens self-confidence and helps overcome fears. It enhances self-awareness and creativity. To enhance the effects, each bottle contains a small gemstone.<p></p>
         <br>         Application: as a massage oil or face care and body oil. Gemstones used: agate stone, nephrithe, serpentine (ophite). Essential oils used: vanilla*, sandalwood, benzoin. Ingredients: jojoba oil*, a blend of natural essential oils*. <br>
                * certified organic
<p class="inci1">INCI: Simondsia Chinensis*, Parfum* (Natural Essential Oils), Limonene**. *certified organic, **from natural essential oils.</p></td>
                <td valign="top"><img src="images_web/edelsteinoele_geborgenheit.jpg" height="250" width="187"></td>
              </tr>
              <tr>
                <td valign="top"><p><strong>Gemstone Oil Serenity<br>
                      <br>
                  </strong>
                  Enjoy personal tranquillity! This oil facilitates deep relaxation and helps restless minds achieve inner calm and a sense of perspective. To enhance the effects, each bottle contains a small gemstone.<br>
                  Application: as a massage oil or face care and body oil. Gemstones used: magnesite, blue quartz crystal, dumortierite. Essential oils used: lavender*, rosewood, tangerine, roman camomile.<br>
                    Ingredients: jojoba oil*, a blend of natural essential oils*. <br>
                    * certified organic
                    </p>
                    <p></p>
                  <p></p>
<p><span class="inci1">INCI: Simondsia Chinensis*, Parfum* (Natural Essential Oils), Geraniol**, Linalol**, Limonene**. *certified organic, **from natural essential oils.</span></p>
                  <p>&nbsp;</p>
                  <p><br>
                </p></td>
                <td valign="top"><img src="images_web/edelsteinoele_gelassenheit.jpg" height="250" width="187"></td>
              </tr>
              <tr>
                <td valign="top"><p><strong>Gemstone Oil Anti-Stress</strong><br>
                    <br>
                    Experience inner calm! This oil promotes the &nbsp;tranquillity and strength needed to tackle everyday stresses, while boosting stamina. To enhance the effects, each bottle contains a small gemstone.<br>
                  Application: as a massage oil or face care and body oil. Gemstones used: aventurine, magnesite, cairngorm. Essential oils used: sweet orange*, rosewood, lavender*, ylang ylang*.<br>
Ingredients: jojoba oil*, a blend of natural essential oils*. <br>
      * certified organic</p>
                <p></p>
                <p class="inci1">INCI: Simondsia Chinensis*, Parfum* (Natural Essential Oils), Benzyl Benzoate**, Geraniol**, Linalol**, Limonene**. *certified organic, **from natural essential oils.</p></td>
                <td valign="top"><img src="images_web/edelsteinoele_antistress.jpg" height="250" width="187"></td>
              </tr>
              <tr>
                <td height="200" valign="top"><p><strong>Gemstone Oil Fountain of Youth</strong><br>
                    <br>
                   Recapture feelings of your youth! This oil aids in purifying&nbsp; mind and body. It cleanses and purifies the skin, diminishes anxiety, frustration, and negativity, while enhancing vitality and well-being. To enhance the effects, each bottle contains a small gemstone. <br>
                  Application: as a massage oil or face care and body oil. Gemstones used: green fluorite, chrysoprase, peridot. Essential oils used: juniper berry, sweet fennel*, lemon*. Ingredients: jojoba oil*, a blend of natural essential oils*.<br>
      * certified organic<br>
                </p>
                <p class="inci1">INCI: Simondsia Chinensis*, Parfum* (Natural Essential Oils), Citral**, Linalol**, Limonene**. *certified organic, **from natural essential oils.</p></td>
                <td valign="top"><p><img src="images_web/edelsteinoele_jungbrunnen.jpg" height="250" width="187"></p></td>
              </tr>
              <tr>
                <td colspan="2" height="223" valign="top"><p>
                    </p><p><span class="Stil4">«Gemstone Cosmetics » – The feel-good-set<br>
                      </span>Beautifully designed set with seven Gemstone Cosmetics in miniature format at 10 ml. To test and try out or as a pretty feel-good present set, which is appreciated by everyone.                  
                    </p><div align="right"><img src="images_web/edelsteinoele_set.jpg" height="146" width="250"></div></td>
              </tr>
            </tbody></table>
           
            <p align="right"><a href="#top"><font color="#666666">              <strong>top&gt;</strong> </font></a></p>