<h1>in balance</h1>
<table border="0" cellpadding="3" cellspacing="0" width="100%">
  <tbody><tr>
    <td valign="top" width="82%"><p><em>for skin impurities at any age </em></p>
      <p>1. Noticeably cleanses and refreshes the skin. <br>
        2. Natural sebaceous secretion regulation. <br>
        3. Refines skin and gives your complexion a 
    visibly matte finish. </p></td>
    <td valign="top" width="18%"><p><img src="images_web/feelbeautiful/www-2logo-ib.jpg" alt="logo in balance" height="108" width="100"></p></td>
  </tr>
</tbody></table>

<%= render :partial => "one_three" , :locals => {:group => "in_balance" }%>
