<h1>in balance
                  </h1>
                  <div align="right">
                    <table border="0" cellpadding="3" cellspacing="0" width="100%">
                      <tbody><tr>
                        <td valign="top" width="82%"><p><em>for skin impurities at any age </em></p>
                          <p>1. Noticeably cleanses and refreshes the skin. <br>
                            2. Natural sebaceous secretion regulation. <br>
                            3. Refines skin and gives your complexion a 
                        visibly matte finish. </p></td>
                        <td valign="top" width="18%"><p><img src="images_web/feelbeautiful/www-2logo-ib.jpg" alt="logo in balance" height="108" width="100"></p></td>
                      </tr>
                    </tbody></table>
                    <div align="left"></div>
                  </div>
                  <p><strong>Innovative active ingredients </strong></p>
                  <p>Linseed extract <br>
                    A fantastic plant substance that controls oily and/or blemished skin, leaving a 
                    refreshingly clean and clear appearance. Test results showed a positive reduction 
                    in sebum production, as well as the alleviation of minor skin damage. </p>
                  <p>Hamamelis water <br>
                    This organic herbal toner, with its pore-refining and slightly anti-inflammatory
                    effect, helps to clear blemished skin. </p>
                  <p>Aloe vera <br>
                    The organic fresh plant extract, isolated from the Aloe vera leaf, supports cell 
                    regeneration, thanks to its rich abundance of minerals, enzymes, trace elements 
                    and vitamins. Aloe vera refills the skin’s moisture depots and, as a result, the skin 
                    is firmed and wrinkles softened. </p>
                  <p>Natural scents <br>
                    According to aromatherapeutic principles, a mixture of essential oils isolated from 
                    organic-quality cistus, manuka, rosemary and sage, works specifically against skin 
                    impurities. With its deep-penetrating effect, the skin is sustainably cleansed and 
                    balanced sebum production supported.</p>
                  <table border="0" cellpadding="3" cellspacing="0" width="100%">
                    <tbody><tr>
                      <td valign="top" width="33%"><img src="images_web/feelbeautiful/www-ib-fluid.jpg" alt="in balance fluid" height="377" width="190"></td>
                      <td valign="top" width="33%"><img src="images_web/feelbeautiful/www-ib-serum.jpg" alt="in balance serum" height="377" width="190"></td>
                      <td valign="top" width="33%"><img src="images_web/feelbeautiful/www-ib-maske.jpg" alt="in balance cleansing mask" height="377" width="190"></td>
                    </tr>
                    <tr>
                      <td valign="top"><p><strong>Balancing fluid <br>
                        with matting effect </strong></p>
                        <p>Clarifies, smoothes and calms your skin 
                          and gives your complexion a balanced,
                          matte finish. Linseed extracts control <br>
                          the overproduction of sebum. Rosemary, 
                          rock rose and manuka counteract
                          impurities. Following cleansing/tonic <br>
                          in the morning and evening, apply 
                        Balancing serum, if desired. </p>
                        <p>100% from natural origin – 74% of the 
                      certifiable natural substances are organic</p></td>
                      <td valign="top"><p><strong>Balancing serum </strong></p>
                        <p>Clarifies, smoothes and calms skin 
                          intensively. Extracts of linseed clearly reduce <br>
                          sebum production. Rosemary, rock 
                          rose and manuka counteract outbreaks
                          and blemishes. After cleansing skin, apply 
                          2 to 3 times per week or daily in case 
                          of severe skin impurities. Then apply <br>
                        Balancing fluid with matting effect. </p>
                        <p>100% from natural origin – 95% of the 
                      certifiable natural substances are organic </p></td>
                      <td valign="top" width="33%"><p><strong>Clarifying cleansing mask</strong></p>
                        <p>Cleanses, refines and refreshes thanks 
                          to its grapefruit, citron and rosemary 
                          ingredients. Gently removes dry flakes <br>
                          from skin. An ideal preparation which 
                          allows skin to absorb the combination
                          of active ingredients in subsequent 
                          skin care. Apply once or twice a week, 
                          leaving mask on face for 10-15 minutes <br>
                          before rinsing off with plenty of water. 
                          Complete this care regimen by using 
                        Balancing fluid with matting effect. </p>
                        <p>100% from natural origin – 98% of the 
                      certifiable natural substances are organic </p></td>
                    </tr>
                  </tbody></table>
