= render :partial => "group_header" , :locals => {:group => "intense_moisture" }
= render :partial => "one_header" , :locals => {:group => "intense_moisture" }
= render :partial => "three_list" , :locals => {:group => "intense_moisture" }
