<%= render :partial => "group_header" , :locals => {:group => "parfumes" }%>

<div class="one">
  <a href="/womans_parfumes.html">
    <img alt="logo Womans parfumes" src="/images/womans_parfumes/logo.jpg">
  </a>
  <%== t('parfumes.list')%>
</div>
<div class="one">
  <a href="/body_sprays.html">
    <img alt="body sprays" src="images/body_sprays/freshen_up.jpg">
  </a>
  <%== t('body_sprays.list')%>
</div>
