<h1>pure sensitive
                  </h1>
                  <div align="right">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody><tr>
                        <td valign="top" width="83%"><p><em>for daily skin cleansing care </em></p>
                          <p>1. Nurtures and calms the skin. <br>
                            2. Significantly improves moisture level of skin. <br>
                            3. Protects against free radicals with help of anti-oxidants. <br>
                            4. Supports the skin, allowing it to adapt to any type of
                        change. </p></td>
                        <td valign="top" width="17%"><p><img src="images_web/feelbeautiful/www-5logo-ps.jpg" alt="logo pure sensitive" height="108" width="100"></p></td>
                      </tr>
                    </tbody></table>
                    <div align="left"></div>
                  </div>
                  <p><strong>Innovative active ingredients </strong></p>
                  <p>Buddleja davidii extract <br>
                    Ideal oxidative protection against daily environmental influences, in particular <br>
                    against free radicals. Tests showed that the moisture content in the skin was <br>
                    increased by 33% two hours after application and by 28% after six hours. </p>
                  <p>Scotch cotton thistle (Onopordum acanthium) extract <br>
                    Thanks to its regenerating properties, this extract has a natural protective <br>
                    function on the skin. It balances the natural hydro-lipid film and gives your skin a <br>
                    relaxed feel. </p>
                  <p>Natural scents <br>
                    These are the gentlest essential oils in organic quality and emit a delicate scent <br>
                    when present in very low quantities. They are particularly suited for very sensitive <br>
                    skin.                  </p>   <p>&nbsp;</p>                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr>
                      <td valign="top" width="62%"><p><strong>Soothing&amp;                        moisturising cream </strong></p>
                        <p>Organic Buddleja davidii extract soothes 
                          very sensitive skin and provides optimum 
                          protection against free radicals. 
                          Scotch cotton thistle extract helps to 
                          regenerate and support the skin and <br>
                          relieve it of tautness. It also allows the 
                          skin to adapt to any type of change.
                          Furthermore, the skin‘s moisture level 
                          is significantly improved. Apply morning 
                        and evening after cleansing/toning. </p>
                        <p>100% from natural origin– 95% of the <br>
                      certifiable natural substances are organic </p></td>
                      <td valign="top" width="38%"><img src="images_web/feelbeautiful/www-einf_puresensitive.jpg" alt="pure sensitive cream" height="283" width="250"></td>
                    </tr>
                  </tbody></table>