<%= render :partial => "group_header" , :locals => {:group => "pure_sensitive" }%>
<%= render :partial => "one_header" , :locals => {:group => "pure_sensitive" }%>

<div class="one">
  <div class="sixty">
    <h3><%== t('.ps_cream.header')%></h3>
    <p> <%== t('.ps_cream.main')%> </p>
  </div>
  <div class="logo_right">
      <p>
        <img src="/images/pure_sensitive/ps_cream.jpg" alt="pure sensitive cream" width="250" height="283">
      </p>
  </div>
</div>
