<div class="one">
	<div class ="eighty">
	
<h2>Luonnonmukaisuuden valvonta </h2>

Kaikki Farfallan tuotteet ovat puolueettomien luomutuotantoa valvovien tahojen tutkimia ja tarkastamia. Yhtiönä Farfalla on myös läpikäynyt sveitsiläisen luomutuotteiden kauppaa valvovan Bio-Inspectan tarkastukset.
<br> Seuraavassa lyhyesti luomulaadun ja -valvonnan sanastoa.
<br><br>

<div class="one">
<div class="seven">
    <img src="images/NATRUE.gif" alt="natrue" >
  </div>
<div class="imgleft">

<h3>NaTrue </h3>
Farfallan Luomukosmetiikka sekä sen tehokkaat, vaikuttavat ainesosat on sertifioitu kansainvälisen NaTrue luomu- ja luonnonkosmetiikka sertifikaatin mukaan. 
<br><br>

<strong>NaTrue käyttää sertifioinnissa seuraavaa erottelua: </strong><br>
<em>Taso 1:</em> Luonnon kosmetiikka, joka vastaa BDIH määrittelemiä standardeja<br>
<em>Taso 2:</em> Luonnon kosmetiikka luomuvalmistusaineilla, jossa ainesosista luomutuotantoa vähintään 70%<br>
<em>Taso 3:</em> Luomukosmetiikka – valmistusaineista vähintään 95% luonnonmukaista tuotantoa<br><br>

<ul class="blu">
<li> Yli 80% Farfallan Luomukosmetiikasta ja sen aktiivista ainesosista täyttää NaTrue Tason 3 (Luomukosmetiikka) vaatimukset.
<li>Kaksi tuotetta noudattaa Tason 2 (Luonnon Kosmetiikka luomu valmistusaineilla) vaatimuksia,
<li>ja yksi tuote on listattu Luonnon Kosmetiikaksi (Taso 1).
</ul>
			</div>
<hr>		  

<h3>Demeter (Biodynaaminen) </h3>

Demeter merkintä edustaa luomuviljelyä, joka noudattaa biodynaamisia periaatteita ja rytmiä. Maaperän viljavuutta vahvistetaan orgaanisesti sekä erityisten mineraalien ja kasvilisien avulla. <br><br>

<hr>		  

<h3>Valvottu luonnonmukainen viljely </h3>

Tällä merkillä varustetut tuotteet täyttävät valvotun luomuviljelyn ehdot. Kaikki luonnonmukaiset organisaatiot, joiden kanssa Farfalla tekee yhteistyötä ovat maailman luomutalouden kattojärjestön IFOAM:n (International Foundation of Organic Agriculture Movements) jäseniä.<br><br>
<hr>		  

<div class="one">
<div class="seven">
    <img src="images/wBDIH-72.gif" alt="BDIH" >
  </div>
<div class="imgleft">

<h3>Sertifioitu luonnonkosmetiikka </h3>
Tämä logo takaa että raaka-aineiden valinta ja tuotantotavat vastaavat BDIH:n (Saksan teollisuuden ja kaupan liitto) luomukosmetiikalle asettamia vaatimuksia. 
</div>
</div>
</div>
</div>

		<div class="logo_right" >
		<img src="/images/site/kuva2.jpg"/>
		</div>
		
		</div>
