

<h3>Organic Controls - Luonnonmukaisuuden valvonta </h3>

Kaikki Farfallan tuotteet ovat puolueettomien luomu tuotantoa valvovien tahojen tutkimia ja tarkastamia. Yhtiönä Farfalla on myös läpikäynyt sveitsiläisen luomu tuotteiden kauppaa valvovan Bio-Inspectan tarkastukset.


<h3>Demeter (Biodynaaminen) </h3>

Demeter merkintä edustaa luomuviljelyä joka noudattaa biodynaamisia periaatteita ja rytmiä. Maaperän viljavuutta vahvistetaan orgaanisesti sekä erityisten mineraalien ja kasvilisien avulla.


<h3>Valvottu luonnonmukainen viljely </h3>

Tällä merkillä varustetut tuotteet täyttävät valvotun luomuviljelyn ehdot. Kaikki luonnonmukaiset organisaatiot, joiden kanssa Farfalla tekee yhteistyötä ovat maailman luomutalouden kattojärjestön IFOAM:n (International Foundation of Organic Agriculture Movements) jäseniä.


<h3>Sertifioitu luonnonkosmetiikka </h3>

Tämä logo takaa että sekä raaka-aineiden valinta että tuotantotavat vastaavat BDIH:n (Saksan teollisuuden ja kaupan liitto) luomukosmetiikalle asettamia vaatimuksia.


<h3>NaTrue </h3>

Farfallan Luomukosmetiikka sekä sen aktiivit ainesosat on sertifioitu kansainvälisen NaTrue luomu- ja luonnonkosmetiikka sertifikaatin mukaan. NaTrue käyttää sertifioinnissa seuraavaa erottelua:
Taso 1: Luonnon kosmetiikka, joka vastaa BDIH määrittelemiä standardeja
Taso 2: Luonnon kosmetiikka luomu valmistusaineilla, jossa ainesosista luomutuotantoa vähintään 70%
Taso 3: Luomukosmetiikka – valmistusaineista vähintään 95% luonnonmukaista tuotantoa

Yli 80% Farfallan Luomukosmetiikasta ja sen aktiivista ainesosista täyttää NaTrue Tason 3 (Luomukosmetiikka) vaatimukset, kaksi tuotetta noudattaa Tason 2 (Luonnon Kosmetiikka luomu valmistusaineilla) vaatimuksia, ja yksi tuote on listattu Luonnon Kosmetiikaksi (Taso 1).
