 
            <h1><br>
              Tourmaline</h1>
            <p> The premium line in the Crystal Balance® assortment with the complete range of efficacy of the tourmaline. Essential oils used: rose, iris, bergamot, neroli etc.</p>
            <div align="right"><em>NaTrue </em>
              
            </div>
            <table border="0" cellpadding="5" cellspacing="0" width="100%">
              <tbody><tr>
                <td valign="top" width="64%"> <h3>Gemstone Tourmaline</h3><br>
                
                    Enlivens the senses and strengthens the life force. Brings you in harmony with yourself. Application: as massage oil or as face care and body oil.<br>
                    <br>
                    Ingredients: Mazeration of tourmaline in organic jojoba oil*, blend of natural essential oils from controlled organic cultivation.<br>
<br><br>
<br>
<br>
                </td>
                <td valign="top" width="36%"><img src="images_web/turmalin_eoel.jpg" height="250" width="333"></td>
              </tr>
              <tr>
                <td valign="top"><h3>Tourmaline Skincare Cream</h3>
                    <p> <br>
      This special moisturising cream for day and night is suitable for every skin type. Lends new energy and nurtures on many levels.<br>
      <br>
      Ingredients: Fluid alcoholic mazeration of Centella Asiatica, yarrow* and camomile*; rosewater*, triglyzerides, shea butter*, grapeseed oil, wheat glycoside, ettalcohol, vegetable glycerine, Jojobaöl*, almond oil*, wild rose oil*, glyceryle stearate, phytosqualan from olives, bees wax, vitamin E, blend of natural essential oils, extract of sea algae, Xanthan.<br>
      * from controlled organic cultivation <br>
      <br>
      </p>
                    <p>&nbsp;</p></td>
                <td valign="top"><img src="images_web/turmalin_creme.jpg" height="250" width="333"></td>
              </tr>
              <tr>
                <td height="260" valign="top"><h3>Tourmaline Eau Fraîche</h3>
                  <p><br>
                   
                    An energy spray that awakens the spirits, lends fresh energy and&nbsp;strengthens the centre. Uses: as perfume, energy spray and as room harmoniser.<br>
                    <br>
                    Ingredients: Alcohol*, rosewater*, blend of natural essential oils from controlled organic cultivation.<br>
                    <br>
                  </p>
                </td>
                <td valign="top"><img src="images_web/turmalin_eauF.jpg" height="250" width="333"></td>
              </tr>
          </tbody></table>            
            <p align="right"><a href="#top"><font color="#666666">              <strong>top&gt;</strong> </font></a></p>