<%= render :partial => "group_header" , :locals => {:group => "travel_set" }%>
<%= render :partial => "one_header" , :locals => {:group => "travel_set" }%>

<div class="one">
  <div class="two">
    <h3><%== t('.travel_set.heading')%></h3>
     <%== t('.travel_set.main')%> <br/>
  </div>
  <div class="logo_right">
       <p>
        <img src="/images/travel_set/travel_set.jpg" alt="feel beautiful travelset" width="300" height="140">
      </p>
  </div>
</div>

