<tbody><tr>
                <td width="77%" valign="top" height="353"><h1>Travel Set</h1>
                  <p><em>Give it a try! </em></p>
                  <p><strong>Let us spend a weekend 
                    together! <br>
                  </strong>In this carefully selected set, you will 
                    find conveniently-sized samples of the
                    most essential cosmetic products. They 
                    will give your skin ideal care during
                    a short trip. You can also try out the
                    samples at home in order to acquaint 
                    yourself with our organic products 
                  with active ingredients. </p>
                  <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                      <td width="40%"><p>The set contains: </p>
                        <p><strong>daily refresh </strong><br>
                          Cleansing fluid, 10 ml</p>
                        <p> <strong>intense moisture </strong><br>
                          Light moisturising fluid, 10 ml </p>
                        <p><strong>age miracle </strong><br>
                          Night miracle fluid, 7 ml </p>
                        <p><strong>be beautiful </strong><br>
                      Bliss cream, 7 ml </p></td>
                      <td width="60%" valign="top"><img width="300" height="140" alt="feel beautiful travelset" src="images_web/feelbeautiful_travelset.jpg"></td>
                    </tr>
                  </tbody></table>
                  </td>
                <td width="23%" valign="top"><p align="right"><img width="131" height="142" alt="logo feelbeautiful" src="images_web/www-logo-fb.jpg"></p>
                  <p align="right">
                  </p>
                <p></p></td>
              </tr>
          </tbody>