<div class="one">
	<div class ="eighty">

<em><strong>Auringosta Itään, Kuusta Länteen Tukku</strong> on Farfallan luomukosmetiikan maahantuoja Suomessa.</em> Olemme vuodesta 1998 alkaen tuoneet Suomeen tuotteita, jotka ovat laadukkaita, kauniita ja eettisesti kestävästi valmistettuja.<br/><br/>

<em>Näillä sivuilla esitellään Farfallan ainutlaatuista luomukosmetiikka-valikoimaa.</em> Jos haluat tutustua näihin ihaniin tuotteisiin tai ostaa niitä, tervetuloa liikkeeseemme! Siellä on esillä koko maahantuomamme Farfalla-valikoima, yhteystiedot löydät alta.
<br/>

<h3>Yritysasiakkaille</h3> 
<em><strong>Jos olet kiinnostunut ryhtymään Farfallan jälleenmyyjäksi,</strong> tai muuten haluat tietää lisää tästä huippulaatuisesta luomukosmetiikasta, ota meihin yhteyttä. </em> Koko maahantuomamme Farfalla-valikoima on esillä liikkeessämme, tervetuloa tutustumaan!<br/><br/>
Halutessasi voit ostaa Farfalla-tuotteita suoraan verkkokaupastamme, osoitteessa <a href="http://tukku.auringostaitaan.fi/"> tukku.auringostaitaan.fi</a>. Saadaksesi käyttäjätunnuksen tukun nettikauppaan ota yhteyttä sähköpostilla: tukku@auringostaitaan.fi.  
<br/><br/>

<h3>liikkeemme</h3> 
<b> Auringosta Itään, Kuusta Länteen</b><br/> 
Fredrikinkatu 19 (Viiskulma), Helsinki<br/>
puh +358- (0)9- 621 7001<br/>

<h3>tukkumyynti</h3>
<b>Auringosta Itään, Kuusta Länteen Tukku</b><br/>
sähköposti: tukku@auringostaitaan.fi<br/>
puhelin: 040 146 1222 <br/>
Fiskarsintie 513, 10480 Antskog<br/>
</div>

		<div class="logo_right" >
		<img src="/images/site/body1.jpg"/>
		</div>
		
		</div>

