
            <table border="0" cellpadding="4" cellspacing="0" width="100%">
              <tbody>
              <tr valign="top">
                <td height="275">                
                  <p align="left"><strong>Anima</strong><strong><img src="images_web/anima.jpg" alt="anima" align="right" height="248" width="150"></strong>
                </p><p align="left">
                  Tuoksu, joka tuo esille olemuksesi kätketyn hymyn! Samalla kertaa syvällinen ja dynaaminen sekä hedelmäisen raikas  greipin, mandariini ja appelsiinin tuoksuilla. Sydäntuoksu sisältää mimosan ja appelsiinin kukkien aurinkoista hehkua . Tuoksu on pyöristetty metsäisillä tuoksuilla ja benzoanilla.
                  </p></td>
                <td height="275"><div align="left"><strong>Nuvola</strong> <img src="images_web/nuvola.jpg" alt="nuvola" align="right" height="232" width="150"><br/>
                    <br/>
                    Nauti tunteesta että kävelet kuin ilmassa käyttäessäsi tätä tuoksua! Nuvola tarkoittaa pilveä italiaksi .Käyttäessäsi tätä tuoksua saat miesten päät kääntymään .  Sydäntuoksu
                    on aluksi raikas ja moni-ilmeinen , sitten puuterimainen ja erittäin naisellinen . Tässä luomu parfyymissä, neroli, bergamot, ylang, ylang, vanilja ja santelipuu korostavat kantajan vetovoimaa ja charmia .</div>
                  <p></p>                  </td>
              </tr>
          </tbody></table>