
            <table border="0" cellpadding="4" cellspacing="0" width="100%">
              <tbody>
              <tr valign="top">
                <td height="275">                
                  <p align="left"><strong>Anima</strong><strong><img src="images_web/anima.jpg" alt="anima" align="right" height="248" width="150"></strong>
                </p><p align="left">A fragrancethat can bring out yoursoul’s hiddensmile! Profound, dynamic and, at the same time, fruity with refreshing notes of grapefruit, mandarinandorange. The heart contains sunnynotes ofmimosa and orange blossoms, rounded off by precious woods and benzoin.</p></td>
                <td height="275"><div align="left"><strong>Nuvola</strong> <img src="images_web/nuvola.jpg" alt="nuvola" align="right" height="232" width="150"><br>
                    <br>
                  Enjoy the feeling of walking on air when wearing this scent! Nuvola, meaning “cloud” in Italian, is said to make men’s heads not only turn but spin. Fresh and multi-faceted at first, the heart note then becomes very feminine and powdery. In this natural perfume, neroli, bergamot, ylang, ylang, vanilla and sandalwood emphasise the attraction and charm of the wearer.</div>
                  <p></p>                  </td>
              </tr>
          </tbody></table>