
            <table border="0" cellpadding="4" cellspacing="0" width="100%">
              <tbody>
              <tr valign="top">
                <td height="275">                
                  <p align="left"><strong>Anima</strong><strong><img src="images_web/anima.jpg" alt="anima" align="right" height="248" width="150"></strong>
                </p><p align="left">A fragrancethat can bring out yoursoul’s hiddensmile! Profound, dynamic and, at the same time, fruity with refreshing notes of grapefruit, mandarinandorange. The heart contains sunnynotes ofmimosa and orange blossoms, rounded off by precious woods and benzoin.</p></td>
                <td height="275"><div align="left"><strong>Nuvola</strong> <img src="images_web/nuvola.jpg" alt="nuvola" align="right" height="232" width="150"><br>
                    <br>
                  Enjoy the feeling of walking on air when wearing this scent! Nuvola, meaning “cloud” in Italian, is said to make men’s heads not only turn but spin. Fresh and multi-faceted at first, the heart note then becomes very feminine and powdery. In this natural perfume, neroli, bergamot, ylang, ylang, vanilla and sandalwood emphasise the attraction and charm of the wearer.</div>
                  <p></p>                  <p>&nbsp;</p></td>
              </tr>
  <tr valign="top">
                            <td width="50%"><p><span class="Stil2"><b>Shandrani</b> <img src="images_web/Shandrani.jpg" align="right" height="186" width="150"></span><b><br>
                            </b>
                  <br>
               Be carried into a magical Arabian night with the mysterious and alluring scents of fragrant blossoms! </p>
               Experience the tender sensuality unveiled by the captivating fragrances of polianthes tuberosa, jasminum <em>sambac</em> and attar of roses which form the dominant notes. Cloves cardamom and spikenard give the perfume its spicy depth. The soft and powdery base consists of osmanthus, vanilla and sandalwood.<p></p>
                              <p><br>
                </p></td><td width="50%"><p><strong>Nerola <img src="images_web/Nerola.jpg" alt="" align="right" height="186" width="150"></strong> <b><br>
                  </b> <br>
                  A fruity fragrance stimulating springtime feelings! Nerola, a Sicilian princess, loved the scent of orange blossoms beyond all measure. The mellow flowery scent of this natural perfume is as delicate as spring and has an invigorating and mood-enhancing effect. Neroli, precious lemon balm, powdery iris, and attar of roses are only a few of the fragrances that make up this beautiful natural perfume.
                </p><p></p></td>
              </tr>
                          <tr valign="top">
                            <td height="170" width="50%"><p><strong>Aura<img src="images_web/Aura.jpg" align="right" height="200" width="150"></strong> <b><br>
                            </b><br>
A very special perfume for those wishing to set clear, protective boundaries! 
                            
The top note has an invigorating effect with its light citrus scents and the tangy freshness of some sweet grasses. Soft floral fragrances form the middle note, while the base notes are green and earthy. Angelica, chamomile, incense and Swiss pine round off this scent.
</p><p></p></td>
                            <td height="170" width="50%"><h3 align="left">Mini Spray Set </h3>
                              <p align="left">All four  natural perfumes for women <br>
                            (Shandrani, Nerola, L’Amour und Aura) as mini spray.</p>
                            <p align="right"><img src="images_web/p_naturparfumset.jpg" alt="parfumset" height="125" width="179"></p></td>
                          </tr>
          </tbody></table>